<% content_for(:title, "Shares") %>

<% if @period.nil? %>
  <div class="none-found">
    <%= t("work.no_periods_html", link: link_to(t("work.create_one"), work_periods_path)) %>
  </div>
<% else %>
  Shares
<% end %>
