---
http_interactions:
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/users
    body:
      encoding: UTF-8
      string: '{"display_name":"Jen Lo","email":"jen@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"title": "400 Bad Request", "description": "User already exists: jen@example.com"}'
  recorded_at: Fri, 14 Feb 2020 03:39:26 GMT
recorded_with: VCR 4.0.0
