---
http_interactions:
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/members/find
    body:
      encoding: UTF-8
      string: '{"subscriber":"jen@example.com","list_id":"ping.tscoho.org"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"start": 0, "total_size": 1, "entries": [{"address": "http://localhost:8001/3.1/addresses/jen@example.com",
        "delivery_mode": "regular", "email": "jen@example.com", "list_id": "ping.tscoho.org",
        "member_id": "164e3ba080a148768c24961c638d6915", "role": "owner", "self_link":
        "http://localhost:8001/3.1/members/164e3ba080a148768c24961c638d6915", "moderation_action":
        "accept", "display_name": "Jen Lo", "user": "http://localhost:8001/3.1/users/be045234ee894ae4a825642e08885db2",
        "http_etag": "\"3edcbc118bbdd75d69059e5f3feb0975558f8e55\""}], "http_etag":
        "\"ca3d8f242b3d8e75dec34bda0fe593290259d33b\""}'
  recorded_at: Sat, 15 Feb 2020 15:39:26 GMT
recorded_with: VCR 4.0.0
