---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0B24us5XZC4JyX21yUUw3aHBEYl
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 0B24us5XZC4JyX21yUUw3aHBEYl.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 0B24us5XZC4JyX21yUUw3aHBEYl."
         }
        }
  recorded_at: Sat, 21 May 2022 14:11:57 GMT
recorded_with: VCR 4.0.0
