---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0B24us5XZC4JyX21yUUw3aHBEYlU
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "errors": [
              {
                "domain": "global",
                "reason": "backendError",
                "message": "Backend Error",
              }
            ],
            "code": 500,
            "message": "Backend Error"
          }
        }
  recorded_at: Fri, 20 May 2022 11:46:23 GMT
recorded_with: VCR 4.0.0
