---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/drives?requestId=01234567
    body:
      encoding: UTF-8
      string: '{"name":"Gather File Drop 01234567"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AeXRPp4aH2VpuozhQivLX5-PPaWW7PjN3xNMqR33NK3y-Xl-XEVZ235wFIqbH4Qqrk3uVWEOOTIBWjssw_NY77LlbBYEzZyGLW5gAHZd-w90_sdJ49i7whuP0N1MGHNUgrspbLiBVjgFq8ftHclc8T0i2ZStGO7jDKRytnRrdugaCgYKAfsSARESFQHGX2MiET46Y49afvFZMQQAC-fVfg0178
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#drive",
          "id": "0AH1t4Om92eQGUk9PVA",
          "name": "Gather File Drop 01234567"
        }
  recorded_at: Tue, 25 Mar 2025 12:52:12 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0AH1t4Om92eQGUk9PVA/permissions?sendNotificationEmail=true&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"a@gmail.com","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AeXRPp4aH2VpuozhQivLX5-PPaWW7PjN3xNMqR33NK3y-Xl-XEVZ235wFIqbH4Qqrk3uVWEOOTIBWjssw_NY77LlbBYEzZyGLW5gAHZd-w90_sdJ49i7whuP0N1MGHNUgrspbLiBVjgFq8ftHclc8T0i2ZStGO7jDKRytnRrdugaCgYKAfsSARESFQHGX2MiET46Y49afvFZMQQAC-fVfg0178
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Tue, 25 Mar 2025 12:52:14 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0ALuBmEiJY2YlUk9PVA/permissions?sendNotificationEmail=true&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"b@gmail.com","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AeXRPp4aH2VpuozhQivLX5-PPaWW7PjN3xNMqR33NK3y-Xl-XEVZ235wFIqbH4Qqrk3uVWEOOTIBWjssw_NY77LlbBYEzZyGLW5gAHZd-w90_sdJ49i7whuP0N1MGHNUgrspbLiBVjgFq8ftHclc8T0i2ZStGO7jDKRytnRrdugaCgYKAfsSARESFQHGX2MiET46Y49afvFZMQQAC-fVfg0178
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "02022397847969109002",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Tue, 25 Mar 2025 12:52:19 GMT
recorded_with: VCR 4.0.0
