---
http_interactions:
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/members/find
    body:
      encoding: UTF-8
      string: '{"subscriber":"jen@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"start": 0, "total_size": 2, "entries": [{"address": "http://localhost:8001/3.1/addresses/jen@example.com",
        "delivery_mode": "regular", "email": "jen@example.com", "list_id": "ping.mail.gather.coop",
        "member_id": "332bf64159b34efc8fd7d6583e8a0e85", "role": "member", "self_link":
        "http://localhost:8001/3.1/members/332bf64159b34efc8fd7d6583e8a0e85", "display_name":
        "Jen Lo", "user": "http://localhost:8001/3.1/users/be045234ee894ae4a825642e08885db2",
        "http_etag": "\"f7d345202935104f12501b80df390abdc63a02d5\""}, {"address":
        "http://localhost:8001/3.1/addresses/jen@example.com", "delivery_mode": "regular",
        "email": "jen@example.com", "list_id": "ping.tscoho.org", "member_id": "b36b417e123649f2a60f76478009870a",
        "role": "owner", "self_link": "http://localhost:8001/3.1/members/b36b417e123649f2a60f76478009870a",
        "moderation_action": "accept", "display_name": "Jen Lo", "user": "http://localhost:8001/3.1/users/be045234ee894ae4a825642e08885db2",
        "http_etag": "\"b2c19413fd88eef308019256042e30324a718967\""}], "http_etag":
        "\"db42190e8e93214ba658992f863e6901c9c107b4\""}'
  recorded_at: Sat, 15 Feb 2020 20:51:43 GMT
recorded_with: VCR 4.0.0
