---
http_interactions:
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/members/find
    body:
      encoding: UTF-8
      string: '{"subscriber":"jen@example.org"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"start": 0, "total_size": 0, "http_etag": "\"32223434a0f3af4cdc4673d1fbc5bac1f6d98fd3\""}'
  recorded_at: Sat, 15 Feb 2020 20:52:43 GMT
recorded_with: VCR 4.0.0
