---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit)),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=100&q=%271nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV%27%20in%20parents&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AbVbY6NnplfOPO7T1LtXlCVGjFVDA3M9fOekX8V2dm2IqvtgBM-ebCCVRFN0OFdNJ6kK3RQSfT186uICC7y26PR0kWgCwZfrDCzITw7D9JTQ-GFTYJUm8RBaz-ewv_nNktFmhAuA93J49-jINmcZq9hocl5XaCgYKAW8SARESFQFWKvPlSK2jbSqH5seNBkh6PO33ag0163
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": [
            {
              "mimeType": "application/vnd.google-apps.document",
              "webViewLink": "https://drive.google.com/file/d/18nyjOaNbbzOWXhYRDXiiotJwwsYVvbE1/view",
              "iconLink": "https://drive-thirdparty.googleusercontent.com/32/type/application/pdf",
              "modifiedTime": "2023-08-06T13:14:15Z",
              "owners": [
                {
                  "emailAddress": "example@gmail.com"
                }
              ],
              "id": "1-WKonir69hemPEMX3ktXPuJYPHU1or0rGYtUbXKSQkw",
              "name": "File B.1",
              "capabilities": {
                "canEdit": true
              }
            },
            {
              "mimeType": "application/vnd.google-apps.document",
              "webViewLink": "https://drive.google.com/file/d/18nyjOaNbbzOWXhYRDXiiotJwwsYVvbE1/view",
              "iconLink": "https://drive-thirdparty.googleusercontent.com/32/type/application/pdf",
              "modifiedTime": "2023-08-06T13:14:15Z",
              "owners": [
                {
                  "emailAddress": "example@gmail.com"
                }
              ],
              "id": "1StDG48lKzbEnlmE5BboPBQCfhSlqxDrReceXiKes1mo",
              "name": "File B.2",
              "capabilities": {
                "canEdit": false
              }
            }
          ]
        }
  recorded_at: Wed, 05 Jul 2023 13:26:10 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1-WKonir69hemPEMX3ktXPuJYPHU1or0rGYtUbXKSQkw
    body:
      encoding: UTF-8
      string: "{\"name\":\"File B.1 [\U0001F69ATS]\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AbVbY6NnplfOPO7T1LtXlCVGjFVDA3M9fOekX8V2dm2IqvtgBM-ebCCVRFN0OFdNJ6kK3RQSfT186uICC7y26PR0kWgCwZfrDCzITw7D9JTQ-GFTYJUm8RBaz-ewv_nNktFmhAuA93J49-jINmcZq9hocl5XaCgYKAW8SARESFQFWKvPlSK2jbSqH5seNBkh6PO33ag0163
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1-WKonir69hemPEMX3ktXPuJYPHU1or0rGYtUbXKSQkw",
          "name": "File B.1 [\U0001F69ATS]",
          "mimeType": "application/vnd.google-apps.document"
        }

  recorded_at: Wed, 05 Jul 2023 13:26:11 GMT
recorded_with: VCR 4.0.0
