---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit)),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=4&q=%271FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq%27%20in%20parents&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "nextPageToken": "~!!~AI9FV7Q-mZQq7pCjYEpVoExuii3bMG_41rP7hD_b0M5kD_V3VIbKTS7-kYKcso99GUV63tocBGqGOJDihA03jEM1ugwkSDJ3rUgHsA5FWIF2SsPJMEntw46eBwv5i1RD1pGvV4BYKl-QWK_PJZ_O-Tb-4_SDP5J5jhC34ZMj8QeVnnmkdHGZ3wmd0Rsoa0dg8YL-ONzpEW_AYyHdRcxn1T2lpCBhjiTtdiwk84rr1V4Iv8-Lpe0ZxFf-DKP-0x50b6d8L0Mwk_0ny7_jKpX7mS-cTpZPEhGLrEX_YrvqOQRZBAiDDtKiNKCiJxaUGHJDQnHTcHU2JMkP59ReT7Te2pTo2AEe46WrWg==",
          "files": [
            {
              "mimeType": "application/vnd.google-apps.folder",
              "parents": [
                "1FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
              "owners": [
                {
                  "emailAddress": "tomsmyth@gmail.com"
                }
              ],
              "webViewLink": "https://drive.google.com/drive/folders/1PJwkZgkByPMcbkfzneq65Cx1CnDNMVR_",
              "id": "1PJwkZgkByPMcbkfzneq65Cx1CnDNMVR_",
              "name": "Folder A",
              "modifiedTime": "2023-11-29T13:06:49.302Z",
              "capabilities": {
                "canEdit": true
              }
            },
            {
              "mimeType": "application/vnd.google-apps.folder",
              "parents": [
                "1FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
              "owners": [
                {
                  "emailAddress": "tomsmyth@gmail.com"
                }
              ],
              "webViewLink": [...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Folder A","parents":["0AExZ3-Cu5q7uUk9PVA"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1REPQUYEGym1APlylgINdZFO1Lh85eDq4"
        }
  recorded_at: Fri, 01 Dec 2023 13:36:28 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit)),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=4&q=%271PJwkZgkByPMcbkfzneq65Cx1CnDNMVR_%27%20in%20parents&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-w[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Folder C","parents":["1REPQUYEGym1APlylgINdZFO1Lh85eDq4"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "14huMaHzvNxvfxdoQPqm3fLVOT0I1oDk-"
        }
  recorded_at: Fri, 01 Dec 2023 13:36:29 GMT
recorded_with: VCR 4.0.0
