---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit)),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=4&q=%271FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq%27%20in%20parents&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "nextPageToken": "~!!~AI9FV7Q-mZQq7pCjYEpVoExuii3bMG_41rP7hD_b0M5kD_V3VIbKTS7-kYKcso99GUV63tpMs30EnnmASCmeA06vfIaFZLOArItzM3e7ZHDLaQyh1zMdjjOYVbIgjV_0BRqr-LAu7ygt2G5gvbFbQBc_xr_T41lR89uc7w-ZRVWWu8c549gkvrGio1Y2ETUq4JR94ZWGI3t3295kcZ9qbKMFYLMCvl1QsK0__eX_jdYC8Pz5dUSuR4_8LMK6YAxElHK0L_Q3XxITDAtXwh8bmaOnCx5L5xoSzadvhNLqZYCxJxwEQOL_rN3flAw-oWQzWGuuQCuX11AWeUsD8GX4esA8rrdpddhJSQ==",
          "files": [
            {
              "mimeType": "application/vnd.google-apps.folder",
              "parents": [
                "1FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
              "owners": [
                {
                  "emailAddress": "tomsmyth@gmail.com"
                }
              ],
              "webViewLink": "https://drive.google.com/drive/folders/1PJwkZgkByPMcbkfzneq65Cx1CnDNMVR_",
              "id": "1PJwkZgkByPMcbkfzneq65Cx1CnDNMVR_",
              "name": "Folder A",
              "modifiedTime": "2023-11-29T13:06:49.302Z",
              "capabilities": {
                "canEdit": true
              }
            },
            {
              "mimeType": "application/vnd.google-apps.folder",
              "parents": [
                "1FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
              "owners": [
                {
                  "emailAddress": "tomsmyth@gmail.com"
                }
              ],
              "webViewLink": [...]
