---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit)),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=100&q=%271nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV%27%20in%20parents%20and%20trashed%20=%20false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": [
            {
              "mimeType": "application/vnd.google-apps.document",
              "parents": [
                "1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
              "owners": [
                {
                  "emailAddress": "example@gmail.com"
                }
              ],
              "webViewLink": "https://docs.google.com/document/d/1StDG48lKzbEnlmE5BboPBQCfhSlqxDrReceXiKes1mo/edit?usp=drivesdk",
              "id": "1StDG48lKzbEnlmE5BboPBQCfhSlqxDrReceXiKes1mo",
              "name": "File B.2",
              "modifiedTime": "2023-07-01T04:18:49.486Z",
              "capabilities": {
                "canEdit": true
              }
            }
          ]
        }
  recorded_at: Fri, 01 Dec 2023 13:06:55 GMT
recorded_with: VCR 4.0.0
