.statements, .transactions.action-index {
  div.summary {
    font-weight: bold;
    font-size: 20px;
    margin-top: $large-margin;
  }

  tr.total {
    td {
      font-weight: bold;

      &:first-of-type {
        text-align: right;
      }
    }
  }

  td.no-items {
    font-style: italic;
    text-align: center;
  }
}
