.accounts, .statements, .transactions.action-index {
  tr.total {
    td {
      font-weight: bold;

      &:first-of-type {
        text-align: right;
      }
    }
  }

  td.no-items {
    font-style: italic;
    text-align: center;
  }
}
