# Things we don't ever want copied into the container
/.make
/.github
/node_modules
/tmp
/deploy
!/deploy/docker/database.yml
/docs
/config/database.yml
/config/settings.local.yml
/config/settings/*.local.yml
/config/environments/*.local.yml
/public/system
/storage
/db/*.sqlite3
/db/*.sqlite3-journal
/log
Dockerfile
README.md
.DS_Store