<div class="none-found">
  <% if policy(sample_period).create? %>
    <%= t("work.no_periods_html", link: link_to(t("work.create_one"), new_work_period_path)) %>
  <% else %>
    <%= simple_format(t("work.not_setup")) %>
  <% end %>
</div>
