---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0AGH_tsBj1z-0Uk9PVA/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"notarealemail@definitelynot.com","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0Ael9sCMPTeNxxkfXMuruUgqNWNWGhiGWo52QnzdUV6ibuveSYkFcc0cEpdXSB4Yxq_w8CgXewkrKc3ieM-zvCHjdGaG-xVmnFKHJNVURD7agjGJ8PDKJPA6RXtcF-VeIrSwaoF3_n_xlx_IzN7cIIV7yHKyNkbLo-AaCgYKAR0SARESFQF4udJh78dP-tj8BtC-ilrCan06jw0169
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "Bad Request. User message: \"You are trying to invite notarealemail@definitelynot.com. Since there is no Google account associated with this email address, you must check the \"Notify people\" box to invite this recipient.\"",
            "errors": [
              {
                "message": "Bad Request. User message: \"You are trying to invite notarealemail@definitelynot.com. Since there is no Google account associated with this email address, you must check the \"Notify people\" box to invite this recipient.\"",
                "domain": "global",
                "reason": "invalidSharingRequest"
              }
            ]
          }
        }
  recorded_at: Sun, 16 Apr 2023 21:25:11 GMT
recorded_with: VCR 4.0.0
