---
http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/0AGH_tsBj1z-0Uk9PVA/permissions/nonexistent?supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"role":"reader"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0Ael9sCMPTeNxxkfXMuruUgqNWNWGhiGWo52QnzdUV6ibuveSYkFcc0cEpdXSB4Yxq_w8CgXewkrKc3ieM-zvCHjdGaG-xVmnFKHJNVURD7agjGJ8PDKJPA6RXtcF-VeIrSwaoF3_n_xlx_IzN7cIIV7yHKyNkbLo-AaCgYKAR0SARESFQF4udJh78dP-tj8BtC-ilrCan06jw0169
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "Permission not found: nonexistent.",
            "errors": [
              {
                "message": "Permission not found: nonexistent.",
                "domain": "global",
                "reason": "notFound",
                "location": "permissionId",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Sun, 16 Apr 2023 21:35:31 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0AGH_tsBj1z-0Uk9PVA/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"example@gmail.com","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0Ael9sCMPTeNxxkfXMuruUgqNWNWGhiGWo52QnzdUV6ibuveSYkFcc0cEpdXSB4Yxq_w8CgXewkrKc3ieM-zvCHjdGaG-xVmnFKHJNVURD7agjGJ8PDKJPA6RXtcF-VeIrSwaoF3_n_xlx_IzN7cIIV7yHKyNkbLo-AaCgYKAR0SARESFQF4udJh78dP-tj8BtC-ilrCan06jw0169
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Sun, 16 Apr 2023 21:35:32 GMT
recorded_with: VCR 4.0.0
