---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/drives?fields=drives(id,name)&pageSize=100
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 401,
            "message": "Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.",
            "errors": [
              {
                "message": "Invalid Credentials",
                "domain": "global",
                "reason": "authError",
                "location": "Authorization",
                "locationType": "header"
              }
            ],
            "status": "UNAUTHENTICATED"
          }
        }
  recorded_at: Sat, 11 Mar 2023 15:39:01 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/drives?fields=drives(id,name)&pageSize=100
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 401,
            "message": "Request is missing required authentication credential. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.",
            "errors": [
              {
                "message": "Login Required.",
                "domain": "global",
                "reason": "required",
                "location": "Authorization",
                "locationType": "header"
              }
            ],
            "status": "UNAUTHENTICATED",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "CREDENTIALS_MISSING",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "drive.googleapis.com",
                  "method": "google.apps.drive.v3.DriveDrives.List"
                }
              }
            ]
          }
        }
  recorded_at: Sat, 11 Mar 2023 15:39:04 GMT
recorded_with: VCR 4.0.0
