---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1R-5rrk68UIdYcidp61CZ54fnLMSiakEi?fields=id,name,parents,driveId&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1R-5rrk68UIdYcidp61CZ54fnLMSiakEi",
          "name": "Test Folder",
          "parents": [
            "0ABQKSPvPdtPNUk9PVA"
          ],
          "driveId": "0ABQKSPvPdtPNUk9PVA"
        }
  recorded_at: Tue, 27 Dec 2022 16:28:26 GMT
recorded_with: VCR 4.0.0
