---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/xyzw123?fields=id,name,parents,driveId&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: xyzw123.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: xyzw123."
         }
        }
  recorded_at: Thu, 29 Dec 2022 04:58:39 GMT
recorded_with: VCR 4.0.0
