---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/drives?fields=drives(id,name)&pageSize=100
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "drives": [
            {
              "id": "0AGH_tsBj1z-0Uk9PVA",
              "name": "Gather Drive Test A"
            },
            {
              "id": "0ABQKSPvPdtPNUk9PVA",
              "name": "Gather Drive Test B"
            },
            {
              "id": "0AJbicgHNgpKfUk9PVA",
              "name": "Gather Drive Test Inbox"
            }
          ]
        }
  recorded_at: Sat, 11 Mar 2023 19:39:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,mimeType,iconLink,webViewLink)&includeItemsFromAllDrives=true&orderBy=folder,name&q=%270AGH_tsBj1z-0Uk9PVA%27%20in%20parents%20and%20trashed%20=%20false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AVvZVsq2vfXctQPdmY6z6LD6anqpo9WdFu95Aw3DQpjDxsUrL56uSapmUlRpB8DxKnvB5ld8AGjcNPIHllFRJvcjAQuQMkKeMoOrTb2aBR8LfrQL6HguJA8e2YQ3Xycu3utqE8KIl2ZXMOckJqs28bftuen2aCgYKARESARESFQGbdwaIWS-J5fi1YS25gs6wyUJzjQ0163
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": [
            {
              "mimeType": "application/vnd.google-apps.folder",
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
              "webViewLink": "https://drive.google.com/drive/folders/10pCGogEYyi7EY1wQIHUDFtNfsbNJkpUl",
              "id": "10pCGogEYyi7EY1wQIHUDFtNfsbNJkpUl",
              "name": "Folder A"
            },
            {
              "mimeType": "application/vnd.google-apps.document",
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
              "webViewLink": "https://docs.google.com/document/d/1zLxt9wYrj1VEOiSnncd0nQfMQCm4hkRqU7WyidaRwB0/edit?usp=drivesdk",
              "id": "1zLxt9wYrj1VEOiSnncd0nQfMQCm4hkRqU7WyidaRwB0",
              "name": "Doc 1"
            },
            {
              "mimeType": "application/vnd.google-apps.drawing",
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.drawing",
              "webViewLink": "https://docs.google.com/drawings/d/1pAl7FvP0ud4KarSE1ags5nG2zta-61Zp6_q91Wh4y1A/edit?usp=drivesdk",
              "id": "1pAl7FvP0ud4KarSE1ags5nG2zta-61Zp6_q91Wh4y1A",
              "name": "Drawing 1"
            }
          ]
        }
  recorded_at: Sat, 11 Mar 2023 19:39:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/10pCGogEYyi7EY1wQIHUDFtNfsbNJkpUl?fields=id,name,parents,driveId&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AVvZVsq2vfXctQPdmY6z6LD6anqpo9WdFu95Aw3DQpjDxsUrL56uSapmUlRpB8DxKnvB5ld8AGjcNPIHllFRJvcjAQuQMkKeMoOrTb2aBR8LfrQL6HguJA8e2YQ3Xycu3utqE8KIl2ZXMOckJqs28bftuen2aCgYKARESARESFQGbdwaIWS-J5fi1YS25gs6wyUJzjQ0163
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "10pCGogEYyi7EY1wQIHUDFtNfsbNJkpUl",
          "name": "Folder A",
          "parents": [
            "0AGH_tsBj1z-0Uk9PVA"
          ],
          "driveId": "0AGH_tsBj1z-0Uk9PVA"
        }
  recorded_at: Sat, 11 Mar 2023 19:39:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,mimeType,iconLink,webViewLink)&includeItemsFromAllDrives=true&orderBy=folder,name&q=%2710pCGogEYyi7EY1wQIHUDFtNfsbNJkpUl%27%20in%20parents%20and%20trashed%20=%20false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AVvZVsq2vfXctQPdmY6z6LD6anqpo9WdFu95Aw3DQpjDxsUrL56uSapmUlRpB8DxKnvB5ld8AGjcNPIHllFRJvcjAQuQMkKeMoOrTb2aBR8LfrQL6HguJA8e2YQ3Xycu3utqE8KIl2ZXMOckJqs28bftuen2aCgYKARESARESFQGbdwaIWS-J5fi1YS25gs6wyUJzjQ0163
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": [
            {
              "mimeType": "application/vnd.google-apps.document",
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
              "webViewLink": "https://docs.google.com/document/d/1s5sjHHrXaVxw5OqlmtZKR2b_GR5qMr8KASfsG9w3dz4/edit?usp=drivesdk",
              "id": "1s5sjHHrXaVxw5OqlmtZKR2b_GR5qMr8KASfsG9w3dz4",
              "name": "Doc 2"
            }
          ]
        }
  recorded_at: Sat, 11 Mar 2023 19:39:05 GMT
recorded_with: VCR 4.0.0
