// See account_summary for more styles affecting accounts
.accounts {
  &.action-index {
    button[type='submit'] {
      float: right;
    }

    table.index {
      width: 100%;

      thead {
        th {
          position: sticky;
          top: 0;
          background-color: $gray-lighterer;
        }
      }

      th, td {
        &:first-of-type {
          width: 6%;
        }

        &:nth-of-type(2) {
          width: 18%;
        }

        &.amount {
          width: 10%;
        }

        &:last-of-type {
          width: 4%;
        }
      }

      tfoot {
        background-color: $theme-main-lightest;
        font-weight: bold;
      }
    }
  }

  &.action-apply-payments {
    input[type='text'] {
      width: 150px;
    }

    span.back {
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 5px;
      vertical-align: bottom;
    }
  }

  .exceeded {
    color: red;
    font-weight: bold;
  }
}
