// See account_summary and statements for more styles affecting transactions
#content.transactions {
  &.action-create {
    table.key-value tr {
      border-top: 1px solid $light-border-color;
    }

    table.index {
      margin-bottom: $large-margin;
      margin-top: $large-margin;
    }
  }

  table.index.transactions tr :nth-child(3) {
    // In the txn confirm table, Ensure the description column is biggest else it looks weird.
    width: 50%;
  }
}

.transaction-core-fields {
  input[id$=_value] {
    width: 200px;
  }

  .billing_transaction_code {
    .fa-arrow-up, .fa-arrow-down {
      font-size: 1.1rem;
      color: $text-muted;
    }
  }
}
