---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=changes(fileId,file(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed,driveId)),nextPageToken,newStartPageToken&includeCorpusRemovals=true&includeItemsFromAllDrives=true&includeRemoved=true&pageSize=100&pageToken=13296&spaces=drive&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byBbRuiqJ65J-DyklXdmeNywL_Z8plBNsZM6oPoK2dXWyZwP_NxhR1h_59vPZgtKrSrJ_QABmi123C5qSDruSGe08tMCqhFR267xseNPtAzbn-TQvfSOUa8Fv3jsWygGAikMymr1cvJgPyt0XOsMuXZLFHz-HE09jvsaCgYKAdcSARESFQHGX2Mie6_4F-HdR8z0DE7zSMEljQ0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "changes": [
            {
              "file": {
                "mimeType": "application/vnd.google-apps.folder",
                "parents": [
                  "1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV"
                ],
                "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
                "owners": [
                  {
                    "emailAddress": "example@gmail.com"
                  }
                ],
                "webViewLink": "https://drive.google.com/drive/folders/15wQB70b0BevG-YLdkMEuhN3tsV9hrV8y",
                "id": "15wQB70b0BevG-YLdkMEuhN3tsV9hrV8y",
                "name": "Folder C",
                "modifiedTime": "2024-01-11T13:06:09.023Z",
                "capabilities": {
                  "canEdit": true
                }
              },
              "fileId": "15wQB70b0BevG-YLdkMEuhN3tsV9hrV8y"
            }
          ]
        }
  recorded_at: Sun, 14 Jan 2024 05:27:16 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1v5yAODVs-lL80QtnMHlFRK9CEbFefu9o?fields=id,mimeType&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byBbRuiqJ65J-DyklXdmeNywL_Z8plBNsZM6oPoK2dXWyZwP_NxhR1h_59vPZgtKrSrJ_QABmi123C5qSDruSGe08tMCqhFR267xseNPtAzbn-TQvfSOUa8Fv3jsWygGAikMymr1cvJgPyt0XOsMuXZLFHz-HE09jvsaCgYKAdcSARESFQHGX2Mie6_4F-HdR8z0DE7zSMEljQ0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1v5yAODVs-lL80QtnMHlFRK9CEbFefu9o",
          "mimeType": "application/vnd.google-apps.folder"
        }
  recorded_at: Sun, 14 Jan 2024 05:27:16 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1hEcRA06GLBUvvan0unzXJ31Utw6Bk9YN?addParents=1v5yAODVs-lL80QtnMHlFRK9CEbFefu9o&removeParents=1J1k3DcfL1kQFmzrnlyiRQvgNs2WNjL-w&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"name":"Folder C"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byBbRuiqJ65J-DyklXdmeNywL_Z8plBNsZM6oPoK2dXWyZwP_NxhR1h_59vPZgtKrSrJ_QABmi123C5qSDruSGe08tMCqhFR267xseNPtAzbn-TQvfSOUa8Fv3jsWygGAikMymr1cvJgPyt0XOsMuXZLFHz-HE09jvsaCgYKAdcSARESFQHGX2Mie6_4F-HdR8z0DE7zSMEljQ0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1hEcRA06GLBUvvan0unzXJ31Utw6Bk9YN",
          "name": "Folder C",
          "mimeType": "application/vnd.google-apps.folder",
          "teamDriveId": "0AExZ3-Cu5q7uUk9PVA",
          "driveId": "0AExZ3-Cu5q7uUk9PVA"
        }
  recorded_at: Sun, 14 Jan 2024 05:27:17 GMT
recorded_with: VCR 4.0.0
