---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=changes(fileId,file(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed,driveId)),nextPageToken,newStartPageToken&includeCorpusRemovals=true&includeItemsFromAllDrives=true&includeRemoved=true&pageSize=100&pageToken=41659&spaces=drive&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "newStartPageToken": "41660",
          "changes": [
            {
              "file": {
                "mimeType": "application/vnd.google-apps.folder",
                "parents": [
                  "1F_bPvGfgHj8TEmlTFsZxU69sLB1keEfZ"
                ],
                "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
                "owners": [
                  {
                    "emailAddress": "tomsmyth@gmail.com"
                  }
                ],
                "webViewLink": "https://drive.google.com/drive/folders/1_p9qu3RGOsMi2FJY4Gm_SSXxdvPN78so",
                "id": "1_p9qu3RGOsMi2FJY4Gm_SSXxdvPN78so",
                "name": "Folder Z",
                "trashed": false,
                "modifiedTime": "2025-03-22T18:48:01.006Z",
                "capabilities": {
                  "canEdit": true
                }
              },
              "fileId": "1_p9qu3RGOsMi2FJY4Gm_SSXxdvPN78so"
            }
          ]
        }
  recorded_at: Sat, 22 Mar 2025 18:57:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id)&includeItemsFromAllDrives=true&q=%270AIQ_OKz_uphLUk9PVA%27%20in%20parents%20and%20mimeType%20=%20%27application/vnd.google-apps.folder%27%20and%20trashed%20=%20false%20and%20name%20=%20%27Folder%20Z%27&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": []
        }
  recorded_at: Sat, 22 Mar 2025 18:57:15 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Folder Z","parents":["0AIQ_OKz_uphLUk9PVA"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1xsQqACoqJ5sqrFdMPtVJl9Heuobk64QU"
        }
  recorded_at: Sat, 22 Mar 2025 18:57:16 GMT
recorded_with: VCR 4.0.0
