---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=changes(fileId,file(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed,driveId)),nextPageToken,newStartPageToken&includeCorpusRemovals=true&includeItemsFromAllDrives=true&includeRemoved=true&pageSize=100&pageToken=13292&spaces=drive&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAF4xXUjLmBZxuG5JMguALlB1o3Ay3b2UNh7ZTMhEc8cVRnEIo_wBnT3U2IeZu6MT-A50SDqqj-xQVrTcwgvcZ0mkmI0LXLTxp3JHHea7QEZukCX2Q-j46g8BxoD_8dw-LzMDhBm3LiEIm5BcfPnqGVfGEZwpbNigUaCgYKAcwSARESFQHGX2MiW4xb5ifKMlXyzXwFU7Mgtw0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "changes": [
            {
              "file": {
                "mimeType": "application/vnd.google-apps.folder",
                "parents": [
                  "1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV"
                ],
                "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
                "owners": [
                  {
                    "emailAddress": "example@gmail.com"
                  }
                ],
                "webViewLink": "https://drive.google.com/drive/folders/15wQB70b0BevG-YLdkMEuhN3tsV9hrV8y",
                "id": "15wQB70b0BevG-YLdkMEuhN3tsV9hrV8y",
                "name": "Folder C",
                "modifiedTime": "2024-01-11T13:06:09.023Z",
                "capabilities": {
                  "canEdit": true
                }
              },
              "fileId": "15wQB70b0BevG-YLdkMEuhN3tsV9hrV8y"
            }
          ]
        }
  recorded_at: Sun, 14 Jan 2024 05:20:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV?fields=id,name,parents&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAF4xXUjLmBZxuG5JMguALlB1o3Ay3b2UNh7ZTMhEc8cVRnEIo_wBnT3U2IeZu6MT-A50SDqqj-xQVrTcwgvcZ0mkmI0LXLTxp3JHHea7QEZukCX2Q-j46g8BxoD_8dw-LzMDhBm3LiEIm5BcfPnqGVfGEZwpbNigUaCgYKAcwSARESFQHGX2MiW4xb5ifKMlXyzXwFU7Mgtw0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV",
          "name": "Folder B",
          "parents": [
            "1FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq"
          ]
        }
  recorded_at: Sun, 14 Jan 2024 05:20:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id)&includeItemsFromAllDrives=true&q=%270AExZ3-Cu5q7uUk9PVA%27%20in%20parents%20and%20mimeType%20=%20%27application/vnd.google-apps.folder%27%20and%20trashed%20=%20false%20and%20name%20=%20%27Folder%20B%27&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAF4xXUjLmBZxuG5JMguALlB1o3Ay3b2UNh7ZTMhEc8cVRnEIo_wBnT3U2IeZu6MT-A50SDqqj-xQVrTcwgvcZ0mkmI0LXLTxp3JHHea7QEZukCX2Q-j46g8BxoD_8dw-LzMDhBm3LiEIm5BcfPnqGVfGEZwpbNigUaCgYKAcwSARESFQHGX2MiW4xb5ifKMlXyzXwFU7Mgtw0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": [
            {
              "id": "1v5yAODVs-lL80QtnMHlFRK9CEbFefu9o"
            }
          ]
        }
  recorded_at: Sun, 14 Jan 2024 05:20:02 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1hEcRA06GLBUvvan0unzXJ31Utw6Bk9YN?addParents=1v5yAODVs-lL80QtnMHlFRK9CEbFefu9o&removeParents=1J1k3DcfL1kQFmzrnlyiRQvgNs2WNjL-w&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"name":"Folder C"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byAF4xXUjLmBZxuG5JMguALlB1o3Ay3b2UNh7ZTMhEc8cVRnEIo_wBnT3U2IeZu6MT-A50SDqqj-xQVrTcwgvcZ0mkmI0LXLTxp3JHHea7QEZukCX2Q-j46g8BxoD_8dw-LzMDhBm3LiEIm5BcfPnqGVfGEZwpbNigUaCgYKAcwSARESFQHGX2MiW4xb5ifKMlXyzXwFU7Mgtw0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1hEcRA06GLBUvvan0unzXJ31Utw6Bk9YN",
          "name": "Folder C",
          "mimeType": "application/vnd.google-apps.folder",
          "teamDriveId": "0AExZ3-Cu5q7uUk9PVA",
          "driveId": "0AExZ3-Cu5q7uUk9PVA"
        }
  recorded_at: Sun, 14 Jan 2024 05:20:03 GMT
recorded_with: VCR 4.0.0
