---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=changes(fileId,file(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed,driveId)),nextPageToken,newStartPageToken&includeCorpusRemovals=true&includeItemsFromAllDrives=true&includeRemoved=true&pageSize=100&pageToken=13326&spaces=drive&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byC_uGSkDYohhuFCoayMlH4-crLcPIwQDFgfePZWkKhyuM2vX9WEMZMWn_wd4NlvmeSIJYdLSEq93_Ss9G6ls1C2HoG8byojpgq1HIaKQdh1_D1b4Y-a53I_7DssFkuD1zjcqVYDYyYWq-TsDtiMQGz0aGIx44vRxCoaCgYKAUISARESFQHGX2Mi-h67xFm3sEN5QPqOe5Vs5Q0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "changes": [
            {
              "file": {
                "mimeType": "application/vnd.google-apps.folder",
                "parents": [
                  "1FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq"
                ],
                "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
                "owners": [
                  {
                    "emailAddress": "example@gmail.com"
                  }
                ],
                "webViewLink": "https://drive.google.com/drive/folders/1K9Sq95eB4IUQ_JHrRpNsyNg9PAjvC7Qo",
                "id": "1K9Sq95eB4IUQ_JHrRpNsyNg9PAjvC7Qo",
                "name": "Folder A",
                "trashed": true,
                "modifiedTime": "2024-01-11T13:05:55.817Z",
                "capabilities": {
                  "canEdit": true
                }
              },
              "fileId": "1K9Sq95eB4IUQ_JHrRpNsyNg9PAjvC7Qo"
            },
            {
              "file": {
                "mimeType": "application/vnd.google-apps.folder",
                "parents": [
                  "1K9Sq95eB4IUQ_JHrRpNsyNg9PAjvC7Qo"
                ],
                "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
                "owners": [
                  {
                    "emailAddress": "example@gmail.com"
          [...]
