---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=changes(fileId,file(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed,driveId)),nextPageToken,newStartPageToken&includeCorpusRemovals=true&includeItemsFromAllDrives=true&includeRemoved=true&pageSize=2&pageToken=12683&spaces=drive&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byBRJRSsYLU-cI8Pw6zBGiaWa80EvNT3qod5hwwfs-AwkyLvamq0LwA-SJO_IQQHOZJPpq15-VNKk5TQj8LIM0ig26Fja1FcyL_XEDEJ_K20iyEzLOs16AHDNqQhTrhOXMwZxkkuNpokRAkIr2LRJMeb5fwvGG4MeKMaCgYKAXESARESFQHGX2MiXuTVMS8n3nCznNFLOEXxkg0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "nextPageToken": "12685",
          "changes": [
            {
              "file": {
                "driveId": "0AExZ3-Cu5q7uUk9PVA",
                "mimeType": "application/vnd.google-apps.folder",
                "parents": [
                  "0AExZ3-Cu5q7uUk9PVA"
                ],
                "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
                "webViewLink": "https://drive.google.com/drive/folders/1iAQn3IxZZp3iAhi4lItgNNDLxcxkUhNW",
                "id": "1iAQn3IxZZp3iAhi4lItgNNDLxcxkUhNW",
                "name": "Folder B",
                "modifiedTime": "2023-12-30T13:20:27.758Z",
                "capabilities": {
                  "canEdit": true
                }
              }
            },
            {
              "file": {
                "driveId": "0AExZ3-Cu5q7uUk9PVA",
                "mimeType": "application/vnd.google-apps.folder",
                "parents": [
                  "0AExZ3-Cu5q7uUk9PVA"
                ],
                "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder",
                "webViewLink": "https://drive.google.com/drive/folders/1PlXD41vrchZ1EPCT7bv7HRxpET-tvOm6",
                "id": "1PlXD41vrchZ1EPCT7bv7HRxpET-tvOm6",
                "name": "Folder A",
                "modifiedTime": "2023-12-30T13:20:27.060Z",
                "capabilities": {
                  "canEdit": true
                }
              }
            }
          ]
        }
  recorded_at: Sat, 30 Dec 2023 21:11:09 GMT
recorded_with: VCR 4.0.0
