default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  host: {{ (ds "config").postgres.host }}
  port: {{ (ds "config").postgres.port }}
{{- if (ds "config").postgres.user }}
  username: {{ (ds "config").postgres.user }}
{{- end }}
{{- if (ds "config").postgres.password }}
  password: {{ (ds "config").postgres.password }}
{{- end }}

development:
  <<: *default
  database: gather_development

test:
  <<: *default
  database: gather_test

production:
  <<: *default
  database: gather_production
