# Replace all <bracketed> items with your config info.

# Google account email to be used when creating initial admin user.
Rails.configuration.x.admin_google_id = <you>@gmail.com

# Google OAuth2 credentials.  Get <client ID> and <client secret> from your Google Developers MESS OAuth client.
Devise.setup do |config
  config.omniauth :google_oauth2, "<client ID>", "<client secret>"
end

# Get a secret key by running 'rake secret'.
Mess::Application.config.secret_key_base = "<secret key>"

# Replace '<hostname>' with your hostname.  Enter 'localhost' for a standard development setup.
Rails.configuration.x.host = "<hostname>"

# The protocol to be used when building URLs.
Rails.configuration.x.protocol = "https"

# For production environments only, uncomment the below and enter SMTP settings.
# See http://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration
# To send a test email from the Rails console, enter:
#
#   class M < ActionMailer::Base; def t; mail(to: "to@example.com", from: "from@example.com",
#   subject: "Test", body: "Test"); end; end; M.t.deliver_now
#
# replacing the to and from email addresses with valid ones.
#
# Rails.configuration.action_mailer.smtp_settings = {
#   address: "example.com",
#   port: 587,
#   domain: "example.org",
#   authentication: :plain,
#   user_name: "user",
#   password: "xxx"
# }
