<% content_for(:title) do
  if @user == current_user
    "Profile"
  elsif policy(@user).update_info?
    "Edit User: #{@user.name}"
  elsif policy(@user).update_photo?
    "Edit Photo: #{@user.name}"
  end
end %>

<% unless @user.active? %>
  <div class="alert alert-info">
    This user was marked inactive at <%= @user.deactivated_at.to_s(:full_datetime) %>.
    <% if policy(@user).activate? %>
      You can <%= link_to("reactivate them", activate_user_path(@user), method: :put) %>.
    <% end %>
  </div>
<% end %>

<%= render("form") %>
<br/><br/>
