<% content_for(:title){ "User: #{@user.name}" } %>

<ul>
  <li>Household: <%= @user.household_full_name %></li>
  <li>Email: <%= link_to(@user.email, "mailto:#{@user.email}") %></li>
  <li>Phone: <%= user_phones(@user) %></li>
</ul>