<div id="time-cook">
  <span class="chunk">
    <%= icon_tag("calendar") %>
    <strong><%= meal.served_at_datetime %></strong>
  </span>
  <% if meal.head_cook.present? %>
    <span class="chunk">
      <%= image_tag("chef-hat.png", alt: "Chef's hat") %>
      <%= meal.head_cook.decorate.link %>
    </span>
  <% end %>
</div>
