<section class="who-is-going">
  <h2>Who is Going?</h2>
  <% if @signups.empty? %>
    Nobody, yet!
  <% else %>
    <ul>
      <% @signups.each do |s| %>
        <li><%= s.household.decorate.name_with_prefix %> (<%= s.total %>)</li>
      <% end %>
    </ul>
  <% end %>
</section>
