---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=100&q=%270AMPAMmEXmRdFUk9PVA%27%20in%20parents%20and%20trashed%20=%20false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": [
            {
              "mimeType": "application/vnd.google-apps.folder",
              "parents": [
                "0AMPAMmEXmRdFUk9PVA"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
              "webViewLink": "https://drive.google.com/drive/folders/1QoZ7iasPtUw8c3Zvvibb6_P8ywOv3x_v",
              "id": "1QoZ7iasPtUw8c3Zvvibb6_P8ywOv3x_v",
              "name": "Some Folder",
              "trashed": false,
              "modifiedTime": "2025-03-22T18:10:20.399Z",
              "capabilities": {
                "canEdit": true
              }
            }
          ]
        }
  recorded_at: Sat, 22 Mar 2025 18:10:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=100&q=%271QoZ7iasPtUw8c3Zvvibb6_P8ywOv3x_v%27%20in%20parents%20and%20trashed%20=%20false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Aut[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1OtYkzME_7bUoTjRxyfTurDrAwtsKidM0?fields=id,mimeType&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1OtYkzME_7bUoTjRxyfTurDrAwtsKidM0",
          "mimeType": "application/vnd.google-apps.folder"
        }
  recorded_at: Sat, 22 Mar 2025 18:10:55 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1ey5vuhaZLDqO7tPHaEOzpF5bf_BWTD6VHyEf-oTyZc8?addParents=1OtYkzME_7bUoTjRxyfTurDrAwtsKidM0&removeParents=1QoZ7iasPtUw8c3Zvvibb6_P8ywOv3x_v&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1ey5vuhaZLDqO7tPHaEOzpF5bf_BWTD6VHyEf-oTyZc8",
          "name": "File A.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0AIQ_OKz_uphLUk9PVA",
          "driveId": "0AIQ_OKz_uphLUk9PVA"
        }
  recorded_at: Sat, 22 Mar 2025 18:10:57 GMT
recorded_with: VCR 4.0.0
