<% content_for(:title, "Meal Formulas") %>

<table class="index part-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Meals</th>
      <th>Created On</th>
    </tr>
  </thead>
  <tbody>
    <% formulas.each do |formula| %>
      <tr class="<%= formula.tr_classes %>">
        <td class="name"><%= formula.name_with_default %></td>
        <td class="meal-count"><%= formula.meal_count %></td>
        <td class="created-at"><%= formula.created_on %></td>
      </tr>
    <% end %>
  </tbody>
</table>
