.add-to-home {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: $gray-lighterer;
  width: 100%;
  display: none;

  .btn {
    margin: 20px 0;
  }

  .opt-out {
    display: block;
    float: right;
    vertical-align: top;
    font-size: 50px;
    line-height: 25px;
    color: #aaa;
    margin: 5px;

    &:hover {
      text-decoration: none;
    }
  }
}
