body.home {
  background-color: white;

  .alert {
    background-color: $theme-accent;
    border: none;
    color: white;
    margin-bottom: 0;
    text-align: center;
  }

  #container {
    background: url(image-path("intro-bg.jpg")) no-repeat center 0px;
    text-align: center;
    height: 620px;
    margin-bottom: 20px;
    flex: 1;

    #blurb {
      color: white;
      line-height: 180%;
      font-size: 24px;
      font-weight: 200;
      margin: 60px 20px;
    }

    #logo {
      text-align: center;
      margin-bottom: 80px;
    }

    .btn, a.btn {
      color: white;
      background: none;
      border: 1px solid white;

      &:hover, &:active, &:focus {
        background-color: rgba(255, 255, 255, 0.2) !important;
      }
    }

    .btn-sign-in {
      width: 300px;
      height: 50px;
      padding-top: 10px;
      font-size: 20px;
      margin-bottom: 10px;
    }

    #help-links {
      margin-top: 5px;

      > div {
        display: inline-block;
        margin: 10px 20px;

        a {
          color: white;
        }
      }
    }
  }

  #help-modal {
    .modal-body {
      height: 470px;
      overflow-y: auto;
      line-height: $content-line-height;
    }
  }

  @media (max-width: $screen-xs-max) {
    #container {
      height: 500px;
      background-position: -566px -126px; // Center the woman with the cart and dog
    }

    #blurb {
      font-size: 18px;
      margin: 30px 20px;
    }

    #logo img {
      width: 90%;
    }

    .btn-primary {
      width: 75%;
    }
  }
}
