.households.action-show {
  .photos {
    margin-bottom: 10px;

    img.photo {
      display: inline-block;
      margin: 0;
    }

    &.two-or-less img.photo {
      width: 100%;
    }

    &.three-or-more img.photo {
      width: 50%;
    }
  }
}


// Shared styles for user and household shared attribs.
.users.action-show, .households.action-show {
  .emergency-contact, .pet {
    border-bottom: $light-border;
    padding-top: 5px;
    padding-bottom: 5px;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
