<% @statements.each do |statement| %>
  <tr>
    <td><%= statement.created_on.to_s(:short_date) %></td>
    <td><%= currency_with_cr(statement.new_charges) %></td>
    <td><%= link_to(currency_with_cr(statement.total_due), statement_path(statement)) %></td>
  </tr>
<% end %>
<% unless @statements.last_page? %>
  <tr id="load-more">
    <td colspan="3">
      <%= link_to("Load More...", "#",
        onclick: "
          var url = '/statements/more?account_id=#{@account.id}&page=#{(params[:page] || 1).to_i + 1}';
          $('#load-more td').html('Loading...');
          $.get(url, null, function(html){ $('#load-more').replaceWith(html); });
          return false;") %>
    </td>
  </tr>
<% end %>
