.groups--groups {
  table.index {
    .name, .kind {
      white-space: nowrap;
    }
  }

  table.key-value {
    .user-list {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0.5em;
      text-indent: -0.5em;

      &.user-list-opt-out a {
        text-decoration: line-through;
      }
    }
  }

  form {
    .groups_group_communities .checkbox {
      display: inline-block;
      margin-right: 15px;
    }

    .groups_group_memberships .user-and-kind {
      display: flex;

      > * {
        flex: 1;
      }
    }

    .groups_group_mailman_list_address > .control-wrapper {
      display: flex;

      > div {
        flex: 1;
      }

      .control-wrapper {
        width: 100%;
      }
    }
  }
}
