.groups--groups {
  table.index {
    .name, .kind {
      white-space: nowrap;
    }
  }

  form {
    .groups_group_communities .checkbox {
      display: inline-block;
      margin-right: 15px;
    }

    .groups_group_memberships .user-and-kind,
    .groups_group_opt_outs .user {
      display: flex;

      > * {
        flex: 1;
      }
    }
  }
}
