<div id="login-text">
  <div>
    <%= link_to (icon_tag("google") << " Login with Google"),
      user_omniauth_authorize_path(:google_oauth2), class: "btn btn-primary btn-lg" %>
  </div>
  <%= flash_messages %>
</div>
