form {
  // Overriding error message style
  .has-error {
    .hint {
      margin-bottom: 0;
    }

    &.base-error {
      padding-bottom: 15px;
    }
  }

  .success {
    color: $brand-success;
    background-color: $state-success-bg;
  }

  .error {
    color: $brand-danger;
    background-color: $state-danger-bg;
  }

  .error, .warning, .success {
    display: block;
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  label .error {
    font-weight: normal;
  }
}
