form {
  &.normal-width {
    @include make-sm-column(9);

    // .form-fields is used to demarcate the normal fields in a form that may have a full width component
    // beneath, e.g. the period form. The fields should be full-width if the form is not
    // full-width, and vice versa.
    .form-fields {
      @include make-sm-column(12);
    }
  }

  &.full-width {
    @include make-sm-column(12);

    .form-fields {
      @include make-sm-column(9);
    }
  }

  .links {
    margin-top: -5px;
    margin-bottom: 10px;
  }

  // Don't show dotted bottom border on required mark
  abbr[title="required"] {
    border-bottom: none;
  }

  // Fix datetime select widths
  .form-group.datetime select.datetime {
    display: inline-block;
    width: 75px;

    &[id$="_2i"] {
      width: 125px;
    }
  }

  input.numeric {
    width: 150px;
  }

  // Labels inside control area shouldn't be bold
  .form-group > div label {
    font-weight: normal;
  }

  .form-actions {
    text-align: right;
  }

  .hint {
    color: $gray-text;
    margin: 3px 0 0 0;
    line-height: 140%;

    a {
      color: $gray-text;
      text-decoration: underline;
    }

    code {
      color: $gray-text;
      background-color: transparent;
      padding: 0;
    }
  }

  // Paragraph-style hints for sections of forms instead of individual fields
  p.hint {
    margin-bottom: 16px;
  }

  // Overriding error message style
  .has-error {
    .hint {
      margin-bottom: 0;
    }

    &.base-error {
      padding-bottom: 15px;
    }
  }

  .error {
    color: $error-red;
    display: block;
    background-color: $error-red-bg;
    padding: 0 5px;
    border: 1px solid $error-red-border;
    margin-top: 5px;
    margin-bottom: 5px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  select.prompt-selected {
    color: $placeholder-color;
  }

  .select2-container {
    width: 100% !important;
  }

  .select2-container {
    .select2-selection--single {
      height: 33px;
    }

    .select2-selection--multiple {
      height: 39px;
    }
  }

  .select2-selection__clear {
    font-size: 22px;
    color: $gray-text;
  }

  .select2-search__field {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .form-actions .btn {
    margin-left: 10px;
    min-width: 75px;
  }

  // Allow hiding the time picker switch with special class.
  .datetime_picker.no-time-picker {
    .accordion-toggle {
      display: none;
    }
  }
}

// Overriding default label top padding
@media (min-width: $screen-sm-min) {
  .gather-form .control-label {
    padding-top: 0;
  }
}

// Including #content for specificity
#content {
  .select2-container .select2-selection {
    border: 1px solid #ccc !important;
  }
}
