form {
  .links {
    margin-top: -5px;
    margin-bottom: 10px;
  }

  // Don't show dotted bottom border on required mark
  abbr[title="required"] {
    border-bottom: none;
  }

  // Fix datetime select widths
  .form-group.datetime select.datetime {
    display: inline-block;
    width: 75px;

    &[id$="_2i"] {
      width: 125px;
    }
  }

  input.numeric {
    width: 150px;
  }

  // Labels inside control area shouldn't be bold
  .form-group > div label {
    font-weight: normal;
  }

  .form-actions {
    text-align: right;
  }

  .hint {
    color: $gray-text;
    margin: 3px 0 0 0;
    line-height: 140%;

    a {
      color: $gray-text;
      text-decoration: underline;
    }

    code {
      color: $gray-text;
      background-color: transparent;
      padding: 0;
    }
  }

  // Paragraph-style hints for sections of forms instead of individual fields
  p.hint {
    margin-bottom: 16px;
  }

  // Overriding error message style
  .has-error {
    .hint {
      margin-bottom: 0;
    }

    .error {
      color: $error-red;
      display: block;
      background-color: $error-red-bg;
      padding: 0 5px;
      border: 1px solid $error-red-border;
      margin-top: 5px;
      margin-bottom: 5px;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    &.base-error {
      padding-bottom: 15px;
    }
  }

  select.prompt-selected {
    color: $placeholder-color;
  }

  .select2-container .select2-selection--single {
    height: 33px;
  }

  .form-actions .btn {
    margin-left: 10px;
  }

  // Allow hiding the time picker switch with special class.
  .datetime_picker.no-time-picker {
    .accordion-toggle {
      display: none;
    }
  }
}

// Overriding default label top padding
@media (min-width: $screen-sm-min) {
  .gather-form .control-label {
    padding-top: 0;
  }
}

// Including #content for specificity
#content {
  .select2-container .select2-selection {
    border: 1px solid #ccc !important;
  }
}
