form {
  &.normal-width {
    @include make-sm-column(9);

    // .form-fields is used to demarcate the normal fields in a form that may have a full width component
    // beneath, e.g. the period form. The fields should be full-width if the form is not
    // full-width, and vice versa.
    .form-fields {
      @include make-sm-column(12);
    }
  }

  &.full-width {
    @include make-sm-column(12);

    .form-fields {
      @include make-sm-column(9);
    }
  }

  &.narrow-width {
    @include make-sm-column(6);

    .form-fields {
      @include make-sm-column(12);
    }
  }

  .links {
    margin-top: -5px;
    margin-bottom: 10px;
  }

  textarea.longer {
    height: 13em;
  }

  // Don't show dotted bottom border on required mark
  abbr[title="required"] {
    border-bottom: none;
  }

  // Fix datetime select widths
  .form-group.datetime select.datetime {
    display: inline-block;
    width: 75px;

    &[id$="_2i"] {
      width: 125px;
    }
  }

  input.numeric {
    width: 150px;
  }

  // Labels inside control area and explicitly .light labels shouldn't be bold.
  .form-group > div label,
  label.light {
    font-weight: normal;
  }

  .hint {
    color: $text-muted;
    margin: 3px 0 0 0;
    line-height: 140%;

    a {
      color: $text-muted;
      text-decoration: underline;
    }

    code {
      color: $text-muted;
      background-color: transparent;
      padding: 0;
    }
  }

  // Paragraph-style hints for sections of forms instead of individual fields
  p.hint {
    margin-bottom: 16px;
  }

  select.prompt-selected {
    color: $input-color-placeholder;
  }

  // Allow hiding the time picker switch with special class.
  .datetime_picker.no-time-picker {
    .accordion-toggle {
      display: none;
    }
  }
}

// Overriding default label top padding
@media (min-width: $screen-sm-min) {
  .gather-form .control-label {
    padding-top: 0;
  }
}

// Including #content for specificity
#content {
  .select2-container .select2-selection {
    border: 1px solid #ccc !important;
  }
}
