.nested-field-set {
  // This link shouldn't have top margin so it's level with the label when there are no records.
  a.add_fields {
    display: inline-block;
  }
}

.nested-fields {
  label, span.error {
    font-size: 90%;
    display: inline-block;
    margin-bottom: 0;
  }

  label {
    color: $gray-text;
    margin-right: 5px;
  }

  span.error {
    padding: 0 3px;
    line-height: 1.2;
  }
}

// This is the style where the nested fields are within the control area of an attribute in the main form.
// The other predominant style is when the nested fields are in rows in a table.
.nested-fields.subfields {
  display: flex;
  margin-bottom: 20px;

  &.no-label {
    margin-bottom: 10px;
  }

  &:last-of-type, &.no-label:last-of-type {
    margin-bottom: 5px;
  }

  .fields-col {
    flex-grow: 1;
  }

  .field-row {
    display: flex;

    // So that text boxes line up even if there are errors or controls without labels.
    align-items: flex-end;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    .control-wrapper {
      // Make each control in the row take up equal width.
      flex-basis: 0;
      flex-grow: 1;

      select, input {
        width: 100%;
      }
    }
  }

  .remove-link-col {
    flex-basis: 20px;
    padding-top: 25px;
    padding-left: 5px;
  }

  &.no-label .remove-link-col {
    padding-top: 0;
  }
}


.has-error .nested-fields .form-control {
  border-color: #ccc;
}
