// This setting is necessary to make select2s (multiple version) resize on window resize.
// There was no easy way to distinguish singles from multiples.
// We limit to gather-forms so that it doesn't mess up the user lens.
.gather-form {
  .select2-container {
    width: 100% !important;
  }
}

.select2-container {
  .select2-selection--single {
    height: 33px;
  }

  .select2-selection--multiple {
    height: 39px;
  }
}

.select2-selection__clear {
  font-size: 22px;
  margin-left: 5px;
  color: $text-muted;
}

// These were creating a weird shadow on a text box that is supposed to have invisible borders.
.select2-search__field, .select2-search input {
  -webkit-box-shadow: none;
  box-shadow: none;
}
