.select2-container {
  width: 100% !important;
}

.select2-container {
  .select2-selection--single {
    height: 33px;
  }

  .select2-selection--multiple {
    height: 39px;
  }
}

.select2-selection__clear {
  font-size: 22px;
  margin-left: 5px;
  color: $gray-text;
}

.select2-search__field {
  -webkit-box-shadow: none;
  box-shadow: none;
}
