// See account_summary and statements for more styles affecting transactions
.transactions {
  &.action-create {
    table.key-value tr {
      border-top: 1px solid $light-border-color;
    }

    table.index {
      margin-bottom: 20px;
    }
  }

  .transaction_amount input {
    width: 200px;
  }
}
