<%= f.error(:user_id) %>
<div class="user-and-kind">
  <%= f.input(:user_id, as: :user_select, error: false, context: "specific_community_adults") %>
  <%= f.input(:kind, collection: Groups::Membership::KINDS, include_blank: false) %>
</div>
