---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/10pCGogEYyi7EY1wQIHUDFtNfsbNJkpUl/permissions/13716252126343845941?supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 23 Apr 2023 21:51:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/10pCGogEYyi7EY1wQIHUDFtNfsbNJkpUl/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"toxxxth@gmail.com","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "reader"
        }
  recorded_at: Sun, 23 Apr 2023 21:51:02 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1s5sjHHrXaVxw5OqlmtZKR2b_GR5qMr8KASfsG9w3dz4/permissions/12363746022515177322?supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"role":"writer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Sun, 23 Apr 2023 21:51:03 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1zLxt9wYrj1VEOiSnncd0nQfMQCm4hkRqU7WyidaRwB0/permissions/12363746022515177322?supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 23 Apr 2023 21:51:03 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1pAl7FvP0ud4KarSE1ags5nG2zta-61Zp6_q91Wh4y1A/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"toxxxth@gmail.com","role":"commenter","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "commenter"
        }
  recorded_at: Sun, 23 Apr 2023 21:51:05 GMT
recorded_with: VCR 4.0.0
