---
http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/AAAAinheritedItemA0001/permissions/20000000000000000001?supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"role":"reader"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "20000000000000000001",
          "type": "user",
          "role": "reader"
        }
  recorded_at: Sun, 23 Apr 2023 21:51:03 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/CCCCinheritedItemC0001/permissions/20000000000000000003?supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"role":"writer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "20000000000000000003",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Sun, 23 Apr 2023 21:51:04 GMT
recorded_with: VCR 4.0.0
