<% content_for(:title, "Pick Google Drive Folder") %>

<p>Gather needs to know what Google Drive folder your community's files are in.</p>

<div id="not-signed-in" class="hiding">
  <p>Please authenticate with Google <strong>as <%= @google_id %></strong> again to pick the folder you'd like Gather to manage.</p>
  <p><button id="sign-in" class="btn btn-primary">Authenticate with Google</button></p>
</div>

<div id="signed-in" class="hiding">
  <p><button id="pick-folder" class="btn btn-primary">Pick Your Community's Root Folder</button></p>
</div>

<script src="https://apis.google.com/js/api.js"></script>

<%= javascript_tag do %>
  $(function() {
    new Gather.Views.GDrive.SignInView(<%=json(
      el: '.gdrive--auth.action-pick-folder',
      cmtyGoogleId: @google_id,
      clientId: Settings.gdrive.auth.client_id,
      apiKey: Settings.gdrive.auth.api_key
    )%>);
  });
<% end %>
