#content.wiki--pages {
  table.index.versions {
    margin-bottom: 10px;
  }

  .wiki-page-revision-info {
    font-style: italic;
    color: $gray-text;
    text-align: right;
  }

  .wiki_page_actions {
    text-align: right;
    width: 100%;
    padding: 0px;
  }

  .wiki_page_actions li {
    display: inline;
    margin: 0px;
    padding: 0px;
  }

  .wiki_history {
    width: 100%;
  }

  .wiki_history_header td {
    border-bottom: 2px dashed black;
  }

  .wiki_diff span.added {
    background: #D4FFAB;
    color: #509A05;
  }

  .wiki_diff span.removed {
    background: #FFD8D8;
    color: #EF2828;
  }

  .wiki--page-form #wiki_page_content {
    height: 500px;
  }
}
