#content.wiki--pages {
  a.not-found {
    color: $brand-danger;
  }

  table.index.versions {
    margin-bottom: 10px;

    td {
      vertical-align: top;
    }

    td.radios {
      div.number {
        display: inline-block;
        width: 30px;
      }

      input {
        margin-right: 10px;
      }
    }

    td.radios, td.timestamp, td.updater {
      white-space: nowrap;
    }
  }

  .wiki-content {
    &.preview {
      margin-bottom: 40px;
    }

    table {
      margin-bottom: 20px;
    }
  }

  .wiki-page-revision-info {
    font-style: italic;
    color: $gray-text;
    text-align: right;
  }

  .wiki--page-form {
    #wiki_page_content {
      font-family: $font-family-monospace;
      font-size: 12px;
      height: 500px;
    }
  }
}
