---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/0AGH_tsBj1z-0Uk9PVA/permissions/13716252126343845941?supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 16 Apr 2023 02:49:05 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0AGH_tsBj1z-0Uk9PVA/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"nixxxen@gmail.com","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "10895995269746979934",
          "type": "user",
          "role": "reader"
        }
  recorded_at: Sun, 16 Apr 2023 02:49:06 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0AGH_tsBj1z-0Uk9PVA/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"tsxxxch@gmail.com","role":"fileOrganizer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "07487704767386085114",
          "type": "user",
          "role": "fileOrganizer"
        }
  recorded_at: Sun, 16 Apr 2023 02:49:09 GMT
recorded_with: VCR 4.0.0
