<% content_for(:title, "Calendar Export") %>

<p>
  You have reached the old calendar export page. This page has been replaced with a newer, more
  powerful export system.
</p>

<p>
  The new page can be accessed by clicking the 'Export' button on the Calendars main page.
</p>

<p>
  Once you click the button below to proceed to the new calendar export page, the links
  that point to this old page will be removed. If you need to export calendars in the future,
  just go to the Calendars main page and click 'Export'.
</p>

<p>
  <%= button_to("Got it! Take me to the new calendar export page and remove the old links!",
                calendars_hide_legacy_export_links_path,
                method: :put, class: "btn btn-primary") %>
</p>
