default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: mess_development

test:
  <<: *default
  database: mess_test

production:
  <<: *default
  database: mess_production

