# Replace all <bracketed> items with your config info.
# Note: For a production environment, it is better to use environment variables to set these settings.
# e.g. `export SETTINGS__OAUTH__GOOGLE__CLIENT_ID=you@gmail.com`

# Uncomment and enter tag if you want to include google analytics (production only)
# google_analytics_tag: UA-123456789-1

oauth:
  google:
    client_id: <client ID>
    client_secret: <client secret>

# Get a secret key by running 'rake secret'.
secret_key_base: <secret key>

email:
  # Used in the email `From` header. Should be a real address.
  from: Gather <support@example.coop>
  # Used in the Reply-To header for emails that don't specify one explicitly.
  # Should contain 'noreply' or similar. Should be a real address.
  no_reply: No-Reply <noreply@example.com>
  # For error messages and other system messages.
  webmaster: someone@example.com

# To use a real production server, uncomment the below and enter SMTP settings.
# For development, use of mailcatcher (default) is recommended.
# See http://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration
# To send a test email from the Rails console, enter:
#
#   class M < ActionMailer::Base; def t; mail(to: "to@example.com", from: "from@example.com",
#   subject: "Test", body: "Test"); end; end; M.t.deliver_now
#
# replacing the to and from email addresses with valid ones.
#
# smtp:
#   address: example.com
#   port: 587
#   domain: example.org
#   authentication: :plain
#   user_name: user
#   password: xxxx

# These options are passed directly to the Elasticsearch::Client initializer.
# See https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-transport for details.
# The default settings should work in most cases.
elasticsearch:
  host: localhost
  port: 9200

# Only required if you want to dev/test the mail test job
mail_test:
  destination: testlist@gather.coop
  pop:
    host: <HOST>
    port: <PORT>
    username: <USERNAME>
    password: <PASSWORD>
    enable_ssl: <true or false>