---
http_interactions:
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/members
    body:
      encoding: UTF-8
      string: '{"list_id":"ping.mail.gather.coop","subscriber":"be045234ee894ae4a825642e08885db2","role":"member","pre_verified":"true","pre_confirmed":"true","pre_approved":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://mail.gather.coop:8443/3.1/members/332bf64159b34efc8fd7d6583e8a0e85
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 15 Feb 2020 20:37:09 GMT
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/members/find
    body:
      encoding: UTF-8
      string: '{"subscriber":"jen@example.com","list_id":"ping.mail.gather.coop"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"start": 0, "total_size": 1, "entries": [{"address": "http://localhost:8001/3.1/addresses/jen@example.com",
        "delivery_mode": "regular", "email": "jen@example.com", "list_id": "ping.mail.gather.coop",
        "member_id": "332bf64159b34efc8fd7d6583e8a0e85", "role": "member", "self_link":
        "http://localhost:8001/3.1/members/332bf64159b34efc8fd7d6583e8a0e85", "display_name":
        "Jen Lo", "user": "http://localhost:8001/3.1/users/be045234ee894ae4a825642e08885db2",
        "http_etag": "\"f7d345202935104f12501b80df390abdc63a02d5\""}], "http_etag":
        "\"74e00e0b6715321cf435d96843ccae307f75d074\""}'
  recorded_at: Sat, 15 Feb 2020 20:37:09 GMT
recorded_with: VCR 4.0.0
