<div class="move-links">
  <%= link_to(icon_tag("caret-up"), move_calendar_path(node, dir: "up"), method: :put) %>
  <%= link_to(icon_tag("caret-down"), move_calendar_path(node, dir: "down"), method: :put) %>
</div>
