<p>The following error(s) occurred in trying to save your changes:</p>
<ul>
  <% @reservation.errors.each do |attrib, error| %>
    <% attrib = "Reservation" if attrib == :base %>
    <li><%= "#{Reservations::Reservation.human_attribute_name(attrib)}: #{error}" %></li>
  <% end %>
</ul>
