<% content_for(:title){ "Reservations" } %>

<% content_for(:top_buttons) do %>
  <%= calendar_exports_link %>
<% end %>

<% if resources.empty? %>
  <div class="none-found">
    No reservable resources found.
  </div>
<% else %>
  <% resources.each do |resource| %>
    <div class="resource">
      <%= link_to(reservations_path(resource_id: resource.id)) do %>
        <%= image_tag(resource.photo.url(:thumb)) %>
        <%= resource.name_with_inactive %>
      <% end %>
    </div>
  <% end %>
<% end %>
