#content, #nav-wrapper, #subnav, footer {
  max-width: $content-max-width;
  margin: 0 auto;
}

#content {
  padding: 20px;
  line-height: 180%;
}

p.subtitle {
  margin-top: -10px;
}

// The .hide and .hidden classes provided by Bootstrap both have !important, which is not good!
.hiding {
  display: none;
}
