div.title-and-buttons {
  margin-bottom: 20px;

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .top-buttons i {
    font-size: 1.2em;
  }

  // Extra classes needed for specificity.
  .form-inline.lens-bar {
    display: inline-block;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (min-width: $screen-sm-min) {
      margin-right: 10px;

      .form-control, .select2.select2-container {
        width: 150px;
      }

      select#community { width: 135px; }
      select#time { width: 100px; }
      select#life_stage { width: 140px; }
      select#user_sort { width: 90px; }

      a.clear {
        color: #666;
        display: inline-block;
        font-size: 16px;

        span {
          display: none;
        }
      }
    }

    @media screen and (max-width: $screen-xs-max) {
      display: block;

      .form-control {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }

      a.clear {
        display: block;
        margin-top: -5px;
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    display: table;
    width: 100%;

    h1, div.top-buttons {
      display: table-cell;
      vertical-align: top;
    }

    div.top-buttons {
      text-align: right;

      > * {
        text-align: left;
      }
    }
  }
}
