#calendar-col {
  footer {
    margin-bottom: 30px;

    a {
      color: $text-muted;
      font-size: 11px;
    }

    a.early {
      display: none;
    }
  }

  #calendar {
    // Hacky way to get the day/month/year buttons to look decent.
    // Will probably go away when upgrading to Fullcalendar v4.
    @media (max-width: 600px) {
      .fc-toolbar {
        text-align: left;

        h2 {
          margin-bottom: 10px;
          margin-right: 20px;
          font-size: 18px;
        }
      }
    }
  }
}
