.calendar-list-wrapper {
  .links {
    a {
      font-size: 13px;
    }
  }
}

.calendar-list {
  line-height: 3rem;

  .group {
    font-weight: bold;
    font-size: 1.3rem;
  }

  .calendar, .calendar label {
    display: flex;
    align-items: center;
  }

  label {
    font-weight: normal;
    margin-bottom: 0;
  }

  a.calendar-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input[type=checkbox] {
    margin: 0 6px 0 0;
  }

  .swatch {
    min-width: 16px;
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
}
