div.title-and-buttons div.top-buttons a.calendar-export {
  span.fa-stack {
    height: 1.3em;
    width: 1.3em;
  }

  i.fa-stack-2x {
    font-size: 1.2em;
  }

  i.fa-stack-1x {
    font-size: 0.6em;
    margin-top: -4px;
  }
}

.calendars--exports.action-index {
  #links {
    margin-bottom: 20px;

    div {
      font-size: 1.1em;
      line-height: 1.1em;
      margin-bottom: 10px;

      i.fa {
        color: $gray-text;
        margin: 0 10px 0 20px;
      }
    }

    a.copy {
      display: inline-block;
      margin-left: 49px;
      color: $gray-text;
      font-size: 0.7em;
    }
  }

  ol {
    padding-left: 14px;
  }
}
