div.title-and-buttons div.top-buttons a.calendar-export {
  span.fa-stack {
    height: 1.3em;
    width: 1.3em;
  }

  i.fa-stack-2x {
    font-size: 1.2em;
  }

  i.fa-stack-1x {
    font-size: 0.6em;
    margin-top: -4px;
  }
}

.calendars--exports.action-index {
  #export-url {
    font-size: 1.1em;
    line-height: 1.1em;
    padding: 5px;
    width: 100%;
  }

  ol {
    padding-left: 14px;
  }

  @media screen and (min-width: $screen-sm-min) {
    .calendars-and-url {
      display: flex;
    }

    .calendar-list-wrapper {
      margin-right: 30px;
    }

    .calendar-list-wrapper h2 {
      display: none;
    }
  }

  .options {
    .checkbox {
      margin-bottom: 0;
    }
  }
}
