<%# Unlike some of the other sections, we don't show any of this unless the user can change it. %>
<% if policy(meal).change_signups? %>
  <%= meal.form_section(:signups, expanded: local_assigns[:expanded]) do %>
    <table id="signup-table" class="key-value key-value-narrow">
      <%= f.simple_fields_for(:signups) do |signup_form| %>
        <%= render("meals/form/signup_fields", f: signup_form) %>
      <% end %>
    </table>
    <%= link_to_add_association(t("cocoon.add_links.signups"), f, :signups,
      partial: "meals/form/signup_fields",
      "data-association-insertion-node": "#signup-table",
      "data-association-insertion-method": "append") %>
  <% end %>
<% end %>
