<%= meal.form_section(:workers, expanded: local_assigns[:expanded]) do %>
  <div id="assignment-fields">
    <%= nested_field_set(f, :"assignments", context: "meal_assign",
                                                inner_partial: "shared/user_select",
                                                inner_labels: false) %>
  </div>
<% end %>
