<div id="time-cook">
  <span class="chunk">
    <%= icon_tag("calendar") %>
    <strong><%= meal_date_time(@meal) %></strong>
  </span>
  <span class="chunk">
    <%= image_tag("chef-hat.png") %>
    <%= user_link(@meal.head_cook) %>
  </span>
</div>
