<% content_for(:title) { 'Import Meal' } %>

<h2>How To Import a CSV File</h2>
<p>
  You create a CSV file with the following as headers:
  <ul>
    <li>Date/Time (required, any parseable datetime string)</li>
    <li>Location(s) (required, semicolon separated, location full name)</li>
    <li>Capacity (optional, integer)</li>
    <li>Formula (optional, formula name)</li>
    <li>Head Cook (optional, person full name, email, or alternate ID (prefixed with "alt:"))</li>
    <li>Extra roles (optional, One column for each extra role, optional, semicolon separated, people full names)</li>
  </ul>
</p>

<p>
  Date/Time and Locations are required so the fields can not be empty but the others are optional.
</p>

<p>
  Click <b><%= link_to 'here', '#', target: '_blank' %></b> is a sample CSV file
</p>

<!--going to add a sample csv file-->


