---
http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1rewJdE-UySaFWHw0NpVfxmNGGOLsD6rbCUwkLjiLc5I?fields=id,name,mimeType,owners(emailAddress),shortcutDetails(targetId,targetMimeType)
    body:
      encoding: UTF-8
      string: '{"starred":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rewJdE-UySaFWHw0NpVfxmNGGOLsD6rbCUwkLjiLc5I",
         "name": "Touchstone Committee Payment Authorization",
         "mimeType": "application/vnd.google-apps.form",
         "owners": [
          {
           "emailAddress": "bar@gmail.com"
          }
         ]
        }
  recorded_at: Sun, 27 Nov 2022 00:34:36 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/0B3vqeGRChC_MV2VUbmdSbkpxVEU?fields=id,name,mimeType,owners(emailAddress),shortcutDetails(targetId,targetMimeType)
    body:
      encoding: UTF-8
      string: '{"starred":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "0B3vqeGRChC_MV2VUbmdSbkpxVEU",
         "name": "_DSF1341.jpg",
         "mimeType": "image/jpeg",
         "owners": [
          {
           "emailAddress": "foo@gmail.com"
          }
         ]
        }
  recorded_at: Sun, 27 Nov 2022 00:34:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?pageSize=1000&q=starred%20=%20false
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": []
        }
  recorded_at: Sun, 27 Nov 2022 00:34:37 GMT
recorded_with: VCR 4.0.0
