---
http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/123?fields=id,name,mimeType,owners(emailAddress),shortcutDetails(targetId,targetMimeType)
    body:
      encoding: UTF-8
      string: '{"starred":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }
  recorded_at: Sun, 27 Nov 2022 02:43:18 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/456?fields=id,name,mimeType,owners(emailAddress),shortcutDetails(targetId,targetMimeType)
    body:
      encoding: UTF-8
      string: '{"starred":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }
  recorded_at: Sun, 27 Nov 2022 02:43:19 GMT
recorded_with: VCR 4.0.0
