---
http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1H2S6WdUs7iVgs14ZRt_0xZybclzHy41Bl7rDC1Yqpyc?fields=id,name,mimeType,owners(emailAddress),shortcutDetails(targetId,targetMimeType)
    body:
      encoding: UTF-8
      string: '{"starred":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "appNotAuthorizedToFile",
            "message": "The user has not granted the app 302773344240 write access to the file 1H2S6WdUs7iVgs14ZRt_0xZybclzHy41Bl7rDC1Yqpyc.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user has not granted the app 302773344240 write access to the file 1H2S6WdUs7iVgs14ZRt_0xZybclzHy41Bl7rDC1Yqpyc."
         }
        }
  recorded_at: Sun, 27 Nov 2022 02:51:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?pageSize=1000&q=starred%20=%20false
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1G8kly1IDekfawcu_tEr8f6vX7ckuBkXj",
           "name": "Sample Shortcut",
           "mimeType": "application/vnd.google-apps.shortcut"
          }
         ]
        }
  recorded_at: Sun, 27 Nov 2022 02:51:15 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1G8kly1IDekfawcu_tEr8f6vX7ckuBkXj?fields=id,name,mimeType,owners(emailAddress),shortcutDetails(targetId,targetMimeType)
    body:
      encoding: UTF-8
      string: '{"starred":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1G8kly1IDekfawcu_tEr8f6vX7ckuBkXj",
         "name": "Sample Shortcut Target",
         "mimeType": "application/vnd.google-apps.shortcut",
         "owners": [
          {
           "emailAddress": "tscohotech@gmail.com"
          }
         ],
         "shortcutDetails": {
          "targetId": "1H2S6WdUs7iVgs14ZRt_0xZybclzHy41Bl7rDC1Yqpyc",
          "targetMimeType": "application/vnd.google-apps.document"
         }
        }
  recorded_at: Sun, 27 Nov 2022 02:51:16 GMT
recorded_with: VCR 4.0.0
