<% if @calendars.any? %>
  <div class="calendars-list-with-links">
    <h3 class="top">Calendars</h3>
    <%= render("calendar_list", nodes: @calendars) %>
    <div class="links">
      <a href="#" class="save-selection">Save Selection</a><br/>
      <a href="#" class="reset-selection">Reset Selection</a>
    </div>
  </div>
<% end %>
