<ul class="no-marker <%= "nested" if local_assigns[:nested] %>">
  <% nodes.each do |node, children| %>
    <li>
      <% if node.group? %>
        <span class="group-name"><%= node.name %></span>
        <%= render("calendar_list", nodes: children, nested: true) %>
      <% else %>
        <%= link_to(node.name, calendars_events_path(calendar_id: node.id), class: "calendar-link") %>
      <% end %>
    </li>
  <% end %>
</ul>
