<%= image_tag(calendar.photo_variant(:thumb), alt: calendar.name) %><br/><br/>
<% if @calendars.any? %>
  <section>
    <h3 class="top">Calendars</h3>
    <%= render("calendars/calendar_list", nodes: @calendars, checkboxes: false) %>
  </section>
<% end %>
