<%= image_tag(calendar.photo_variant(:thumb)) %><br/><br/>
<% if @other_calendars.any? %>
  <div class="other-calendars">
    <small>Other Calendars</small>
    <%= render("simple_calendar_list", nodes: @other_calendars) %>
  </div>
<% end %>
