.gdrive--migration--request {
  .screenshot {
    width: 800px;
    border: 1px solid #ddd;
  }

  .wizard-buttons {
    margin-top: 40px;
    text-align: right;
  }

  .troubleshooting {
    margin-top: 40px;
  }
}