---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#startPageToken",
          "startPageToken": "41656"
        }
  recorded_at: Sat, 22 Mar 2025 18:41:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=4&q=%271F_bPvGfgHj8TEmlTFsZxU69sLB1keEfZ%27%20in%20parents%20and%20trashed%20=%20false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "nextPageToken": "~!!~AI9FV7RETJ4x8XVFjwoL6jIlEzH_uXQ9F_udfoJr9_u0auDwr_ADmpfMz42KVyzhRiLmVz0vTsyGN6chtLs_mkkDcYCuEYFUOpJykjecHMAfzStP6xlbDKd2Oh0YWq4E9dwk7zC5qqHmlgbkqQ1LKJi6Q9A-0U-t20oDIMkmA_j2_kS9spDTwmIkeBvtoTnRQWhaGSUhl2-7EaKwYABOW65TTVJEHIT21eYZg8sILEQTCoSGo42eIGXHz4EHnmCTng4PbQAJPkxnJt7nCo0mskToJyFzvSJdqR0DFxRGkPW-3lh1CmNXUI5t5PZPgUfTGiEgYtlBW-Cou18tX49Ycbmz3L2LUzEE5w==",
          "files": [
            {
              "mimeType": "application/vnd.google-apps.folder",
              "parents": [
                "1F_bPvGfgHj8TEmlTFsZxU69sLB1keEfZ"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
              "owners": [
                {
                  "emailAddress": "tomsmyth@gmail.com"
                }
              ],
              "webViewLink": "https://drive.google.com/drive/folders/1NfrNz2Y2EtNww_a3WyLb-GQG-8TmincZ",
              "id": "1NfrNz2Y2EtNww_a3WyLb-GQG-8TmincZ",
              "name": "Folder A",
              "trashed": false,
              "modifiedTime": "2025-03-22T18:19:57.648Z",
              "capabilities": {
                "canEdit": true
              }
            },
            {
              "mimeType": "application/vnd.google-apps.folder",
              "parents": [
                "1F_bPvGfgHj8TEmlTFsZxU69sLB1keEfZ"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
              "owners": [
                {
                  "emailAddress": "tomsmyth@gmail.com"
                }
              ],
              "webViewLink": [...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id)&includeItemsFromAllDrives=true&q=%270AIQ_OKz_uphLUk9PVA%27%20in%20parents%20and%20mimeType%20=%20%27application/vnd.google-apps.folder%27%20and%20trashed%20=%20false%20and%20name%20=%20%27Folder%20A%27&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": []
        }
  recorded_at: Sat, 22 Mar 2025 18:41:32 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Folder A","parents":["0AIQ_OKz_uphLUk9PVA"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1q1lfqxqV2OYZkKSZmBZXaxTMEeg2XgDQ"
        }
  recorded_at: Sat, 22 Mar 2025 18:41:35 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id)&includeItemsFromAllDrives=true&q=%270AIQ_OKz_uphLUk9PVA%27%20in%20parents%20and%20mimeType%20=%20%27application/vnd.google-apps.folder%27%20and%20trashed%20=%20false%20and%20name%20=%20%27Folder%20B%27&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": []
        }
  recorded_at: Sat, 22 Mar 2025 18:41:36 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=4&q=%271NfrNz2Y2EtNww_a3WyLb-GQG-8TmincZ%27%20in%20parents%20and%20trashed%20=%20false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Autho[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1q1lfqxqV2OYZkKSZmBZXaxTMEeg2XgDQ?fields=id,mimeType&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1q1lfqxqV2OYZkKSZmBZXaxTMEeg2XgDQ",
          "mimeType": "application/vnd.google-apps.folder"
        }
  recorded_at: Sat, 22 Mar 2025 18:41:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id)&includeItemsFromAllDrives=true&q=%271q1lfqxqV2OYZkKSZmBZXaxTMEeg2XgDQ%27%20in%20parents%20and%20mimeType%20=%20%27application/vnd.google-apps.folder%27%20and%20trashed%20=%20false%20and%20name%20=%20%27Folder%20C%27&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": []
        }
  recorded_at: Sat, 22 Mar 2025 18:41:38 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Folder C","parents":["1q1lfqxqV2OYZkKSZmBZXaxTMEeg2XgDQ"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AeXRPp6h54IVI-JqfIPzHxB7cL-BWsf9bWw3pbP406QUT56AYC3L3RWcENZw-ZJiMjKCGVmbWBXaHpyVfELsBz8_ByqltkIjLG0F2y4RcvX45ICZGxsebjVvfcPSHf8UPb1Zvgld4LRqtzJTBcmFl9MFYoe7dvpA_y42T9wyw78aCgYKAckSARESFQHGX2Mi6UT7JXhV77V2xM21uePB-w0178
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1I8sTWjTjnmKZ5kzIptyHQeiv-GGYXruq"
        }
  recorded_at: Sat, 22 Mar 2025 18:41:41 GMT
recorded_with: VCR 4.0.0
