---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit),shortcutDetails(targetId,targetMimeType),trashed),nextPageToken&includeItemsFromAllDrives=true&orderBy=folder,name&pageSize=100&q=%271nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV%27%20in%20parents%20and%20trashed%20=%20false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byCv-60d131HAAFOuEe0Uk5WLxUbJObHxo1JmgK7sudyu8KxHr_O-Hm1fF_GKSCMXEa7Pm1lRF7n7kWSeXAML49vJKB_JQtvw3dGzBCKe1DJIR877Oi7OR5jLmd3ad7hDUasg34gHhatsfQDzaxySKhsNjrPOHoRmLUaCgYKAY8SARESFQHGX2MiaTN8U4-K4dJcO6KDbQ_woQ0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": [
            {
              "mimeType": "application/vnd.google-apps.document",
              "parents": [
                "1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV"
              ],
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
              "owners": [
                {
                  "emailAddress": "example@gmail.com"
                }
              ],
              "webViewLink": "https://docs.google.com/document/d/1IufP1TQKUf9ZlU0q-pIdY52Hg5arZc2KYGHqT-dK4nY/edit?usp=drivesdk",
              "id": "1IufP1TQKUf9ZlU0q-pIdY52Hg5arZc2KYGHqT-dK4nY",
              "name": "File B.1",
              "modifiedTime": "2023-12-29T23:12:37.671Z",
              "capabilities": {
                "canEdit": true
              }
            }
          ]
        }
  recorded_at: Fri, 29 Dec 2023 23:16:54 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/changes/watch?includeCorpusRemovals=true&includeItemsFromAllDrives=false&includeRemoved=true&pageToken=12345&spaces=drive
    body:
      encoding: UTF-8
      string: '{"address":"https://gatherdev.org:31337/gdrive/migration/changes?community_id=123","expiration":"1705492800000","id":"b0801a4c-4437-4284-b723-035c7c7f87f8","token":"7ca1eda696d682802edf3d3056ca03fd","type":"web_hook"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byCv-60d131HAAFOuEe0Uk5WLxUbJObHxo1JmgK7sudyu8KxHr_O-Hm1fF_GKSCMXEa7Pm1lRF7n7kWSeXAML49vJKB_JQtvw3dGzBCKe1DJIR877Oi7OR5jLmd3ad7hDUasg34gHhatsfQDzaxySKhsNjrPOHoRmLUaCgYKAY8SARESFQHGX2MiaTN8U4-K4dJcO6KDbQ_woQ0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "api#channel",
          "id": "b0801a4c-4437-4284-b723-035c7c7f87f8",
          "resourceId": "030dP89w23Mzw28mQBrIu00iMXg",
          "resourceUri": "https://www.googleapis.com/drive/v3/changes?alt=json&includeCorpusRemovals=true&includeItemsFromAllDrives=false&includeRemoved=true&pageToken=12345&spaces=drive",
          "token": "7ca1eda696d682802edf3d3056ca03fd",
          "expiration": "1705492800000"
        }
  recorded_at: Fri, 29 Dec 2023 23:16:54 GMT
recorded_with: VCR 4.0.0
