<% content_for(:title, "Roles") %>

<h2>People</h2>
<div class="flowing-columns-max-4 role-lists">
  <% @roles.each do |role| %>
    <div class="role-list">
      <h3><%= t("roles.#{role}") %></h3>
      <% if @users_by_role[role].empty? %>
        [<%= t("common.none") %>]
      <% else %>
        <ul>
          <% @users_by_role[role].each do |user| %>
            <li><%= user.decorate.link %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

<h2>Legend</h2>
<ul>
  <li><strong>Admin</strong> - All of the other roles combined</li>
  <li><strong>Biller</strong> - Manages billing transactions, templates, statements, formulas and finalizes meals</li>
  <li><strong>Photographer</strong> - Can edit anyone's directory photo</li>
  <li><strong>Calendar Coordinator</strong> - Manages calendars and anyone's calendar events</li>
  <li><strong>Meals Coordinator</strong> - Manages meals, meal roles, billing formulas, and meal types</li>
  <li><strong>Wikiist</strong> - Manages specifically protected wiki pages</li>
  <li><strong>Work Coordinator</strong> - Manages jobs, shifts and work periods</li>
</ul>
