<% content_for(:title, "Roles") %>

<div class="flowing-columns-max-4 role-lists">
  <% User::ROLES.each do |role| %>
    <div class="role-list">
      <h3><%= t("roles.#{role}") %></h3>
      <% if @users_by_role[role].empty? %>
        [<%= t("common.none") %>]
      <% else %>
        <ul>
          <% @users_by_role[role].each do |user| %>
            <li><%= user.decorate.link %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
