<% content_for(:title, "Roles") %>

<% User::ROLES.each do |role| %>
  <h3><%= t(role) %></h3>
  <% users = @users_by_role[role] %>
  <div class="flowing-columns-max-4">
    <% users.each do |user| %>
      <% user = user.decorate %>
      <div class="user section clearfix <%= user.active? ? "" : "inactive" %>">
        <div class="info">
          <div><%= link_to(user.name, user) %></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
