// Doing it this way to enable different thumbnail sizes based on class
@mixin dropzone($thumb-width, $thumb-height) {
  width: $thumb-width + 20px;
  line-height: 140%;
  margin-bottom: 20px;

  a.delete {
    float: right;
    font-size: 18px;
    color: $text-muted;
  }

  img.existing {
    width: $thumb-width;
  }

  .dz-preview {
    margin: 0;
    width: $thumb-width;

    .dz-success-mark, .dz-error-mark {
      top: $thumb-height / 2px - 28px;
    }
  }

  .dz-image img {
    width: $thumb-width;
  }

  .dz-details {
    margin: 5px 0;

    .dz-filename {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .dz-preview.dz-error {
    .dz-image img {
      height: $thumb-height;
      background-color: $gray-lighter;
    }
  }

  .dz-message {
    width: $thumb-width;
    height: $thumb-height;
    // background-image is set inline in the partial since it depends on the model
    background-position: center center;
    background-size: $thumb-width - 20px $thumb-height - 20px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px dashed $light-border-color;
  }

  .dz-drag-hover .dz-message {
    border: 3px solid $light-border-color;
  }

  .dz-error-message {
    margin-top: 5px;
  }

  /////////////////////////////////////////////////////////////////////////////////////
  // Show and hide message, existing thumbnail, and delete link depending on state

  .dropzone.has-existing {
    img.existing {
      display: block;
    }
  }

  .dropzone, .dropzone.has-existing.existing-deleted {
    .dz-message {
      display: flex;
    }
    a.delete {
      display: none;
    }
    img.existing {
      display: none;
    }
  }

  .dropzone.has-existing, .dropzone.dz-started, .dropzone.has-existing.dz-started {
    .dz-message {
      display: none;
    }
    a.delete {
      display: inline;
    }
  }
}
