// Doing it this way to enable different thumbnail sizes based on class
@mixin dropzone($thumb-width, $thumb-height) {
  display: flex;
  line-height: 140%;
  margin-bottom: 20px;
  @if $thumb-width != 100% {
    max-width: $thumb-width + 20px;
  }

  a.delete {
    font-size: 18px;
    color: $text-muted;
    margin-left: 5px;
  }

  .dropzone {
    flex: 1;
  }

  img.existing {
    width: 100%;
  }

  .dz-preview {
    margin: 0;
    width: 100%;

    .dz-success-mark, .dz-error-mark {
      top: $thumb-height / 2px - 28px;
    }
  }

  .dz-image {
    max-height: $thumb-height;
    display: flex;
    align-items: center;
    background-color: $gray-lighter;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .dz-details {
    margin: 5px 0;

    .dz-filename {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .dropzone .dz-preview .dz-progress .dz-upload {
    background: $theme-main-lighter;
  }

  .dz-error-message {
    @include error;
    overflow: hidden;
  }

  .dropzone .dz-preview.dz-success .dz-success-mark,
  .dropzone .dz-preview.dz-error .dz-error-mark {
    display: none; // The error message is enough of a signal and this is hard to position.
  }

  .dz-message {
    height: $thumb-height;
    // background-image is set inline in the partial since it depends on the model
    background-position: center center;
    background-size: calc(100% - 20px) $thumb-height - 20px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px dashed $light-border-color;
  }

  .dz-drag-hover .dz-message {
    border: 3px solid $light-border-color;
  }

  .dz-error-message {
    margin-top: 5px;
  }

  /////////////////////////////////////////////////////////////////////////////////////
  // Show and hide message, existing thumbnail, and delete link depending on state

  &.state-existing {
    img.existing {
      display: block;
    }
    .dz-message {
      display: none;
    }
    .dz-preview {
      display: none;
    }
    a.delete {
      display: block;
    }
  }

  &.state-empty {
    img.existing {
      display: none;
    }
    .dz-message {
      display: flex;
    }
    .dz-preview {
      display: none;
    }
    a.delete {
      display: none;
    }
  }

  &.state-new {
    img.existing {
      display: none;
    }
    .dz-message {
      display: none;
    }
    .dz-preview {
      display: block;
    }
    a.delete {
      display: block;
    }
  }
}
