div.index-wrapper {
  width: 100%;
  overflow-x: auto;
}

table.index {
  width: 100%;

  &.part-width {
    // Tablet and larger
    @media screen and (min-width: $screen-sm-min) {
      width: auto;
      min-width: 500px;
    }
  }

  tr.inactive,
  tr.muted {
    img {
      filter: grayscale(100%);
    }

    td, td a {
      color: $text-muted;
    }
  }

  .action-links {
    padding-right: 3px;
    white-space: nowrap;
    text-align: right;

    i.fa {
      font-size: 16px;

      &.fa-file-text {
        font-size: 15px;
      }
    }

    a:not(:first-of-type) i.fa {
      margin-left: 5px;
    }
  }

  i.fa { // Icons
    width: 15px;
    text-align: center;
  }

  td.num {
    text-align: right;
  }
}
