div.index-wrapper {
  width: 100%;
  overflow-x: auto;
}

table.index {
  width: 100%;

  &.part-width {
    width: auto;
    min-width: 500px;
  }

  tr.inactive {
    img {
      filter: grayscale(100%);
    }

    td, td a {
      color: $inactive-color;
    }
  }

  .action-links {
    padding-right: 3px;
    white-space: nowrap;
    text-align: right;

    i.fa {
      font-size: 16px;

      &.fa-file-text {
        font-size: 15px;
      }
    }

    a:not(:first-of-type) i.fa {
      margin-left: 5px;
    }
  }

  i.fa { // Icons
    width: 15px;
    text-align: center;
  }

  td.num {
    text-align: right;
  }
}

.none-found {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.index-footer {
  // Leave the left/right margins alone for column stuff.
  margin-top: 20px;
  margin-bottom: 20px;

  .pagination {
    margin: 0;
  }

  .links {
    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
    }

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 10px;
    }

    a {
      color: $gray-text;
    }
  }
}
