.report {
  .overview {
    text-align: center;

    .set {
      background-color: $faint-gray;
      margin-bottom: 20px;
    }

    .title {
      font-size: 15px;
    }

    table.numbers {
      margin: auto;

      tr {
        border: none;
      }

      td {
        padding-bottom: 0;
        padding-right: 20px;
        padding-top: 0;

        &:first-of-type {
          padding-left: 20px;
        }
      }

      .numbers td {
        font-size: 16px;
        font-weight: bold;
      }

      .captions td {
        font-size: 13px;
      }
    }
  }

  #charts {
    h4 {
      text-align: center;
    }

    svg {
      height: 250px;
    }
  }

  .stats-table-wrapper {
    // Just in case the table gets super wide.
    overflow-x: auto;
  }

  table.stats {
    margin-top: 10px;
    width: 100%;

    tr.surheader {
      th {
        text-align: center;
      }
    }

    tr.totals {
      td {
        font-weight: bold;
      }
    }

    tr.highlight.totals {
      td {
        background-color: $highlight-color !important;
      }
    }

    th {
      font-size: 11px;
      text-align: center;

      i.fa {
        font-size: 13px;
      }
    }

    th, td {
      padding: 2px 5px;
      width: 6.25%;
      white-space: nowrap;

      &:first-of-type {
        text-align: left;
        width: 12.5%;
      }
    }

    td {
      text-align: right;
    }
  }

  .footnote {
    margin: 40px 0 20px 0;
    text-align: center;
  }
}
