table {
  tr {
    border-bottom: $light-border;

    td, th {
      vertical-align: top;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 10px;

      &.nowrap {
        white-space: nowrap;
      }

      &.narrow {
        max-width: 100px;
      }

      &.narrowish {
        max-width: 150px;
      }

      &:first-of-type {
        padding-left: 0px;
      }

      &:last-of-type {
        padding-right: 0px;
      }
    }
  }
}

table.key-value {
  &.key-value-full {
    width: 100%;
  }

  td:first-of-type {
    color: #999;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
  }

  ul {
    // The default of 40px is too much in this context.
    padding-left: 25px;
  }

  // For xs screens, default table behavior is best.
  @media screen and (min-width: $screen-sm-min) {
    td:first-of-type {
      width: 250px;
    }

    td:last-of-type {
      p:last-of-type {
        margin-bottom: 0;
      }
    }

    &.key-value-narrow {
      td:last-of-type {
        width: 250px;
      }
    }

    &.key-value-wide {
      td:last-of-type {
        width: 400px;
      }
    }

    span.inner-label {
      display: inline-block;
      font-size: 12px;
      color: $text-muted;
      margin-right: 10px;
    }
  }
}
