p.intro {
  max-width: 800px;
}

.bigger {
  font-size: 16px;
}

@mixin deemphasized-text {
  font-size: 13px;
  color: $text-muted;
  line-height: 1.4;
}

small {
  @include deemphasized-text;
  display: block;

  a {
    color: $text-muted;
    text-decoration: underline;
  }
}

.footnote {
  @include deemphasized-text;
  margin-top: 10px;
}
