body {
  font-family: 'Raleway', sans-serif;
  color: $main-text-color;
}

p.inner {
  margin-top: $large-margin;
}

.footnote {
  margin-top: 10px;
  font-size: 13px;
  color: $gray-text;
  line-height: 1.4;
}

a, a:visited {
  color: $link-color;
}

a:hover {
  color: $link-active-color;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn-default, a.btn-default {
  background-color: $faint-gray;
  color: #666;

  &:hover, &:active, &:focus {
    // !important needed here to override Bootstrap (booo!)
    background-color: #ddd !important;
  }
}

.btn-primary, a.btn-primary {
  color: white;
  background-color: $theme-accent;

  &:hover, &:active, &:focus {
    // !important needed here to override Bootstrap (booo!)
    background-color: $theme-accent-intense !important;
  }
}

.datetimepicker .input-group-btn > .btn-default {
  border: 1px solid $btn-default-border;
}

mark {
  background-color: $highlight-color;
}

.alert {
  border: none;
  border-radius: 0;

  a {
    text-decoration: underline;
  }
}

.weak {
  color: $gray-text;
}

.detail {
  color: $gray-text;
  font-size: 90%;
  line-height: 90%;
}

.action-icons {
  &.action-icons-with-names {
    margin-bottom: 10px;

    a {
      white-space: nowrap;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

td .action-icons {
  white-space: nowrap;
  text-align: right;

  i.fa {
    font-size: 16px;

    &.fa-file-text {
      font-size: 15px;
    }
  }

  a:not(:first-of-type) i.fa {
    margin-left: 5px;
  }
}

h1 + .action-icons {
  margin: -15px 0 10px 0;
}

ul.no-marker {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Content to the left must also be a table-cell in a table row so that it slides under.
.callout {
  display: table-cell;

  @media screen and (min-width: $screen-sm-min) {
    width: 300px;
  }

  div {
    background-color: #eee;
    padding: 20px;

    h4 {
      color: $theme-main;
      margin-top: 0;
    }
  }
}
