body {
  font-family: 'Raleway', sans-serif;
  color: $main-text-color;
}

p.inner {
  margin-top: $large-margin;
}

.footnote {
  margin-top: 10px;
  font-size: 13px;
  color: $gray-text;
  line-height: 1.4;
}

a, a:visited {
  &:not(.btn) {
    color: $link-color;
  }
}

a:hover {
  color: $link-active-color;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn-default, a.btn-default {
  background-color: $faint-gray;
  color: #666;

  &:hover, &:active, &:focus {
    // !important needed here to override Bootstrap (booo!)
    background-color: #ddd !important;
  }
}

.btn-primary, a.btn-primary {
  color: white;
  background-color: $theme-accent;

  &:hover, &:active, &:focus {
    // !important needed here to override Bootstrap (booo!)
    background-color: $theme-accent-intense !important;
  }
}

.datetimepicker .input-group-btn > .btn-default {
  border: 1px solid $btn-default-border;
}

mark {
  background-color: $highlight-color;
}

.alert {
  border: none;
  border-radius: 0;

  &.in-text {
    margin-bottom: 10px;
  }

  a {
    text-decoration: underline;
  }
}

.weak {
  color: $gray-text;
}

.detail {
  color: $gray-text;
  font-size: 90%;
  line-height: 90%;
}

ul.no-marker {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.callout {
  background-color: #eee;
  padding: 20px;

  h1, h2, h3, h4 {
    color: $theme-main;
    margin-top: 0;
  }

  ul:last-of-type {
    margin-bottom: 0;
  }
}
