p.inner {
  margin-top: $large-margin;
}

.footnote {
  margin-top: 10px;
  font-size: 13px;
  color: $text-muted;
  line-height: 1.4;
}

.datetimepicker .input-group-btn > .btn-default {
  border: 1px solid $btn-default-border;
}

mark {
  background-color: $highlight-color;
}

.alert {
  &.in-text {
    margin-bottom: 10px;
  }

  a {
    text-decoration: underline;
  }
}

.weak {
  color: $text-muted;
}

.detail {
  color: $text-muted;
  font-size: 90%;
  line-height: 90%;
}

ul.no-marker {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.center-notice {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.callout {
  background-color: #eee;
  padding: 20px;

  h1, h2, h3, h4 {
    color: $theme-main;
    margin-top: 0;
  }

  ul:last-of-type {
    margin-bottom: 0;
  }
}

.no-bot-mrg {
  margin-bottom: 0;
}
