$main-text-color: #444;
$gray-text: #aaa;
$medium-gray: #aaa;
$faint-gray: #eee;
$fainter-gray: #f6f6f6;
$inactive-color: #ccc;
$light-border-color: #ccc;
$placeholder-color: #999;
$light-border: 1px solid $light-border-color;
$theme-main: #3a3e5d;
$theme-main-lighter: lighten($theme-main, 10%);
$theme-main-lightest: lighten($theme-main, 70%);
$theme-accent: #64944a;
$theme-accent-light: lighten($theme-accent, 20%);
$theme-accent-intense: saturate($theme-accent, 20%);
$link-color: #2b6db3;
$link-active-color: $theme-accent-intense;
$highlight-color: #F4E4F5;
$error-red: #a94442;
$error-red-bg: #f2dede;
$error-red-border: #ebccd1;
$large-margin: 20px;
$content-max-width: 1200px;
$content-line-height: 180%;
$fixed-width-font: courier;
