<% content_for(:title, "Import Meals") %>

<p>
  You can import meals using CSV format. Spreadsheet applications like Excel or Google Spreadsheets
  can export to CSV format, which you can then import to Gather.
</p>

<%= render("instructions_and_form") %>
