.assignment-card {
  margin-bottom: 20px;
  background-color: $fainter-gray;
  padding: 10px;

  &.taken {
    background-color: $theme-accent-lightest;
  }

  table {
    width: 100%;

    tr {
      border: none;

      td {
        padding: 0;
        padding-left: 0;
        line-height: 18px;
      }
    }
  }

  .photos, .hours {
    text-align: right;
  }

  .title {
    font-size: 15px;
    font-weight: bold;
    display: block;
  }

  .hours {
    float: right;
    font-weight: bold;
    font-size: 15px;
  }

  .owners-cell {
    vertical-align: bottom;
  }

  .shift-times {
    margin-bottom: 4px;
    font-weight: bold;
  }

  .owner-name {
    line-height: 20px;

    .fa-circle-o {
      font-size: 11px;
      vertical-align: middle;
    }
  }

  .signup-link {
    color: $theme-accent;
    font-weight: bold;
    white-space: nowrap;
  }

  .photo-cell {
    vertical-align: bottom;
    text-align: right;

    // We don't want the height of cards to change too much so we reserve some space
    // for people's names.
    height: 50px;
  }

  .photos {
    display: inline-block;

    img {
      width: 30px;
      height: 30px;
      display: inline-block;
    }

    &.single img {
      width: 40px;
      height: 40px;
    }
  }

  .photo {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
}
