.work--jobs {
  form {
    #work_job_description {
      height: 140px;
    }
  }

  #shift-table {
    margin-bottom: 5px;
  }

  #shift-rows {
    .shift-slots {
      width: 75px;
    }

    .delete {
      text-align: right;
    }
  }
}
