.work--shifts .table-footer {
  .pagination, .choosee {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .choosee {
    text-align: right;

    select {
      min-width: 270px;
    }
  }
}

.shift-info {
  margin-bottom: 20px;

  .fa-thumb-tack {
    font-size: 13px;
  }
}
