.work--shifts .table-footer {
  .choosee {
    @media screen and (min-width: $screen-sm-min) {
      margin-top: 20px;
    }

    text-align: right;

    select {
      min-width: 270px;
    }
  }
}

.shift-info {
  margin-bottom: 20px;

  .fa-thumb-tack {
    font-size: 13px;
  }
}
