.shifts-synopsis {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  text-align: center;

  i, b {
    font-weight: bold;
    font-style: normal;
  }

  i {
    color: $theme-accent;
  }

  b {
    color: $brand-danger;
  }
}
