.shifts-synopsis {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  margin-bottom: 20px;
  background-color: $highlight-color2;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;

  i, b {
    font-weight: bold;
    font-style: normal;
  }

  i {
    color: $theme-accent;
  }

  b {
    color: $brand-danger;
  }
}
