---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/channels/stop
    body:
      encoding: UTF-8
      string: '{"id":"2b8d212d-b0f7-47ae-b5ec-e971d8f86c19","resourceId":"030dP89w23Mzw28mQBrIu00iMXg"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byDbkQ6Z6aG9nLFlIEgbC6uJwS5pjnPzIYreh7AtdgnrAJxVvmNI0-6cYRuK0AbEgnQziTry6J-S0RyorHo4-7b3b9x8Rn7pl5wI7TyAP7nvD4RAqpOnrn7HAf7X9NDw7QEDfmXzPquVWbuaOMzOEfDh-_DBpOGkOfkaCgYKAUYSARESFQHGX2Mii53-4bcjZLOXXxESdQZIsw0174
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 14 Jan 2024 12:00:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/changes/watch?includeCorpusRemovals=true&includeItemsFromAllDrives=false&includeRemoved=true&pageToken=12345&spaces=drive
    body:
      encoding: UTF-8
      string: '{"address":"https://gatherdev.org:31337/gdrive/migration/changes?community_id=123","expiration":"1705838400000","id":"2b8d212d-b0f7-47ae-b5ec-e971d8f86c19","token":"7ca1eda696d682802edf3d3056ca03fd","type":"web_hook"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byDbkQ6Z6aG9nLFlIEgbC6uJwS5pjnPzIYreh7AtdgnrAJxVvmNI0-6cYRuK0AbEgnQziTry6J-S0RyorHo4-7b3b9x8Rn7pl5wI7TyAP7nvD4RAqpOnrn7HAf7X9NDw7QEDfmXzPquVWbuaOMzOEfDh-_DBpOGkOfkaCgYKAUYSARESFQHGX2Mii53-4bcjZLOXXxESdQZIsw0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "api#channel",
          "id": "2b8d212d-b0f7-47ae-b5ec-e971d8f86c19",
          "resourceId": "030dP89w23Mzw28mQBrIu00iMXz",
          "resourceUri": "https://www.googleapis.com/drive/v3/changes?alt=json&includeCorpusRemovals=true&includeItemsFromAllDrives=false&includeRemoved=true&pageToken=12345&spaces=drive",
          "token": "7ca1eda696d682802edf3d3056ca03fd",
          "expiration": "1705838399000"
        }
  recorded_at: Sun, 14 Jan 2024 12:00:00 GMT
recorded_with: VCR 4.0.0
