---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/channels/stop
    body:
      encoding: UTF-8
      string: '{"id":"0a6ba57a-e058-4a06-a21f-ae1e57f0262b","resourceId":"030dP89w23Mzw28mQBrIu00iMXg"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byDbkQ6Z6aG9nLFlIEgbC6uJwS5pjnPzIYreh7AtdgnrAJxVvmNI0-6cYRuK0AbEgnQziTry6J-S0RyorHo4-7b3b9x8Rn7pl5wI7TyAP7nvD4RAqpOnrn7HAf7X9NDw7QEDfmXzPquVWbuaOMzOEfDh-_DBpOGkOfkaCgYKAUYSARESFQHGX2Mii53-4bcjZLOXXxESdQZIsw0174
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "errors": [
              {
                "domain": "global",
                "reason": "notFound",
                "message": "Channel '0a6ba57a-e058-4a06-a21f-ae1e57f0262b' not found for project '426221710170'"
              }
            ],
            "code": 404,
            "message": "Channel '0a6ba57a-e058-4a06-a21f-ae1e57f0262b' not found for project '426221710170'"
          }
        }
  recorded_at: Sun, 14 Jan 2024 12:00:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/changes/watch?includeCorpusRemovals=true&includeItemsFromAllDrives=false&includeRemoved=true&pageToken=13296&spaces=drive
    body:
      encoding: UTF-8
      string: '{"address":"https://gatherdev.org:31337/gdrive/migration/changes","expiration":"1705838400000","id":"0a6ba57a-e058-4a06-a21f-ae1e57f0262b","token":"7ca1eda696d682802edf3d3056ca03fd","type":"web_hook"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byDbkQ6Z6aG9nLFlIEgbC6uJwS5pjnPzIYreh7AtdgnrAJxVvmNI0-6cYRuK0AbEgnQziTry6J-S0RyorHo4-7b3b9x8Rn7pl5wI7TyAP7nvD4RAqpOnrn7HAf7X9NDw7QEDfmXzPquVWbuaOMzOEfDh-_DBpOGkOfkaCgYKAUYSARESFQHGX2Mii53-4bcjZLOXXxESdQZIsw0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "api#channel",
          "id": "0a6ba57a-e058-4a06-a21f-ae1e57f0262b",
          "resourceId": "030dP89w23Mzw28mQBrIu00iMXg",
          "resourceUri": "https://www.googleapis.com/drive/v3/changes?alt=json&includeCorpusRemovals=true&includeItemsFromAllDrives=false&includeRemoved=true&pageToken=13296&spaces=drive",
          "token": "7ca1eda696d682802edf3d3056ca03fd",
          "expiration": "1705838399000"
        }
  recorded_at: Sun, 14 Jan 2024 12:00:00 GMT
recorded_with: VCR 4.0.0
