<% content_for(:title, "#{current_community.name} File Reorganization") %>

<div class="simple">
  <h2>Authorization</h2>

  <p>Thanks for being willing to help!</p>
  <p>
    Please authorize Gather to access your <strong><%= @request.google_email %></strong> Google account.
    Gather will only be able to move files that you choose.
  </p>

  <%= link_to("Authorize", @auth_url, class: "btn btn-primary") %>
</div>