<% content_for(:title, "#{current_community.name} File Reorganization") %>

<p>Thanks for being willing to help!</p>
<p>Please authorize Gather to access your <strong><%= @consent_request.google_email %></strong> Google account.</p>

<%= link_to("Authorize", @auth_url, class: "btn btn-primary") %>