<% content_for(:title, "Touchstone Cohousing File Reorganization") %>

<p>Please authorize Gather to access your <strong>tomsmyth@gmail.com</strong> Google account.</p>

<%= link_to("Authorize", @auth_url, class: "btn btn-primary") %>