.formulas {
  table.index {
    width: 500px;
  }

  table.key-value {
    margin-bottom: 20px;

    div.formula-parts {
      div.header {
        color: $medium-gray;
        font-size: 12px;
      }

      div.formula-part, div.header {
        display: table-row;

        div {
          display: table-cell;
          padding-right: 10px;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  form {
    .meals_formula_parts {
      div.formula-part-hints div.hint {
        display: none;
      }

      .subfields .fields-col {
        display: flex;

        > * {
          flex: 1;
        }
      }
    }
  }
}
