.meals {
  a.remove_fields {
    margin-left: 5px;
    display: inline-block;
  }

  .meal_allergens > div.boxes {
    height: 150px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  @media screen and (max-width: $screen-xs-max) {
    .meal_allergens > div.boxes {
      height: 210px;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  tr.signed-up,
  div.meals-list div.meal.signed-up {
    background-color: $highlight-color;
  }

  tr.cancelled,
  div.meals-list div.meal.cancelled {
    background-color: $fainter-gray;
    color: $gray-text;
    text-decoration: line-through;

    * {
      text-decoration: line-through;
      color: $gray-text;
    }
  }

  table a.user-link {
    display: block;
  }

  // For mobile devices in meals index, or all devices for meal jobs list.
  div.meals-list {
    div.meal {
      background-color: $fainter-gray;
      margin-bottom: 20px;
      padding: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      h4 {
        margin: 0 0 5px;
      }

      div.title {
        margin-bottom: 10px;
      }
    }
  }

  div.job {
    display: inline-block;

    &:not(:last-child)::after{
      content: ", ";
    }
  }

  div.who-is-going {
    ul {
      -moz-column-count: 4;
      -moz-column-gap: 1em;
      -webkit-column-count: 4;
      -webkit-column-gap: 1em;
      column-count: 4;
      column-gap: 1em;
      padding-left: 0;
      list-style-type: none;

      @media (min-width: 550px) and (max-width: $screen-xs-max) {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
      }

      @media (max-width: 550px) {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
      }
    }
  }
}
