.meals.action-show, .meals.action-summary, .signups {
  position: relative;

  h3 {
    margin-top: 10px;
  }

  #meal-menu {
    border: $light-border;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;

    #time-cook {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;

      div.chunk:last-of-type {
        margin-left: 10px;
      }
    }

    #details {
      font-size: 13px;
      line-height: 18px;
    }

    div.chunk div.job {
      display: inline-block;
    }

    p {
      margin: 0;
    }

    .menu-label {
      letter-spacing: 2px;
      background-color: #fff;
      margin: -28px auto 10px auto;
      width: 90px;
      text-transform: uppercase;
      color: $text-muted;
      font-family: $font-family-sans-serif;
      font-weight: normal;
      font-size: $font-size-base;
    }

    .smaller {
      font-size: 80%;
    }

    hr {
      width: 75%;
      border-color: $light-border-color;
      display: block;
    }

    section {
      min-height: 20px;
    }

    @media print {
      border: none;
      padding: 0;

      .menu-label {
        margin-top: 10px;
      }

      hr {
        display: none;
      }
    }
  }
}