.restrictions {
  .community_restrictions_contains {
    padding-right: 10px;
  }

  input[type="checkbox"] {
    margin-left: 20px;
    margin-top: 8px;
  }

  tr {
    border-bottom: none;
  }

  input[type=checkbox] {
    margin-left: 0px;
  }



}
