.meals--restrictions {
  table.nested-field-set {
    width: 100%;

    th:nth-child(1), th:nth-child(2) {
      width: 50%
    }
  }

  form.gather-form.narrow-label-layout .community_restrictions > .control-wrapper {
    width: 100%;
  }

  .community_restrictions_contains {
    padding-right: 10px;
  }

  form.gather-form.narrow-label-layout .form-group.boolean.community_restrictions_deactivated > .control-wrapper {
    margin-left: 0;

    label {
      padding-left: 10px;
    }
  }

  tr {
    border-bottom: none;
  }

  input[type=checkbox] {
    margin-left: 0px;
  }
}