.signup {
  margin-bottom: 20px;

  h2 {
    margin-top: 0;
  }
}

@mixin signup-form-control-wrapper {
  > .control-wrapper {
    width: 100%;

    .control-wrapper {
      display: inline-block;
    }

    select[name$="[quantity]"] {
      width: 60px;
    }

    select[name$="[item_id]"] {
      width: 200px;
    }

    .nested-fields.subfields.no-inner-labels {
      margin-bottom: 4px;
    }

    .add-link-wrapper {
      display: block;
      margin-bottom: 7px;
      margin-top: -2px;
    }
  }
}

form.gather-form.narrow-label-layout.finalize-form,
form.gather-form.narrow-label-layout.meals--meal-form {
  // A single signup row.
  .signup-fields .form-group {
    margin-bottom: 0;

    @media screen and (max-width: $screen-xs-max) {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .meal_signups_household_id .select2-container .select2-selection__clear {
    margin-left: 5px;
  }

  .form-group.meals_meal_signups_parts {
    @include signup-form-control-wrapper;
  }
}

form.gather-form.meals--signup-form {
  .form-group.meals_signup_parts {
    @include signup-form-control-wrapper;
  }
}
