.meals.action-summary {
  @media print {
    &#content h1 {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  #gen-time {
    float: right;
    font-weight: bold;
  }

  .portion-counts {
    font-size: 130%;
    margin-bottom: 10px;
  }

  table.compact {
    td, th {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 12px;
    }
  }

  #signups {
    page-break-before: always;

    table {
      width: 100%;

      tr.total {
        td {
          font-weight: bold;
        }
      }

      tr.late-signups-header td {
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        font-weight: bold;
      }

      th, td {
        border: $light-border;
        padding: 0 4px;
        line-height: 20px;

        &.cmty {
          width: 30px;
        }

        &.hhld {
          width: 150px;
        }

        &.count {
          width: 35px;
        }
      }

      th.count {
        font-weight: normal;
        font-size: 11px;
      }
    }
  }

  #groc-calc {
    page-break-before: always;
  }

  #cost-table {
    margin-top: 10px;

    th {
      padding-right: 10px;
    }

    th, td {
      &:nth-of-type(3) {
        border-bottom: 1px solid white;
      }
    }
  }

  #reimb-form {
    border: 1px dashed $light-border-color;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    width: 700px;

    table {
      width: 100%;
    }

    tr:last-child {
      border-bottom: 0;
    }

    td:first-child {
      width: 40%;
      text-align: right;
      vertical-align: top;
    }

    td:last-child {
      width: 60%;
      padding-left: 10px;
      font-weight: bold;
    }

    span.payable-to {
      display: inline-block;
      border-bottom: 1px solid black;
      width: 220px;
    }
  }
}
