---
http_interactions:
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/members/find
    body:
      encoding: UTF-8
      string: '{"subscriber":"jen@example.com","list_id":"ping.tscoho.org"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"start": 0, "total_size": 1, "entries": [{"address": "http://localhost:8001/3.1/addresses/jen@example.com",
        "delivery_mode": "regular", "email": "jen@example.com", "list_id": "ping.tscoho.org",
        "member_id": "84cba40adbef4b8798024640b798f967", "role": "owner", "self_link":
        "http://localhost:8001/3.1/members/84cba40adbef4b8798024640b798f967", "moderation_action":
        "accept", "display_name": "Jen Lo", "user": "http://localhost:8001/3.1/users/be045234ee894ae4a825642e08885db2",
        "http_etag": "\"fb9078943b9f50d89e08d8ab05c184796cfc0d09\""}], "http_etag":
        "\"70c7f0c6ce2e5afd31634614cb60d1f3686074a2\""}'
  recorded_at: Sat, 15 Feb 2020 16:22:49 GMT
[...]
- request:
    method: delete
    uri: https://mail.gather.coop:8443/3.1/members/84cba40adbef4b8798024640b798f967
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 15 Feb 2020 16:22:50 GMT
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/members
    body:
      encoding: UTF-8
      string: '{"list_id":"ping.tscoho.org","subscriber":"be045234ee894ae4a825642e08885db2","role":"member","pre_confirmed":"true","pre_approved":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://mail.gather.coop:8443/3.1/members/cc06af5b452641d39ee78e1a3ed51833
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 15 Feb 2020 16:22:50 GMT
- request:
    method: post
    uri: https://mail.gather.coop:8443/3.1/members/find
    body:
      encoding: UTF-8
      string: '{"subscriber":"jen@example.com","list_id":"ping.tscoho.org"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cmVzdGFkbWluOnk0bkRQaW5rZmNpSDltb1dVM2VNd2Z2TnRaY2RKQVNNOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"start": 0, "total_size": 1, "entries": [{"address": "http://localhost:8001/3.1/addresses/jen@example.com",
        "delivery_mode": "regular", "email": "jen@example.com", "list_id": "ping.tscoho.org",
        "member_id": "cc06af5b452641d39ee78e1a3ed51833", "role": "member", "self_link":
        "http://localhost:8001/3.1/members/cc06af5b452641d39ee78e1a3ed51833", "display_name":
        "Jen Lo", "user": "http://localhost:8001/3.1/users/be045234ee894ae4a825642e08885db2",
        "http_etag": "\"f95ca4f386ea3a9c30a289c533d67c55e03281b8\""}], "http_etag":
        "\"132e3c029f9b6d44e033b56a0a04c6587cd33ae5\""}'
  recorded_at: Sat, 15 Feb 2020 16:22:50 GMT
recorded_with: VCR 4.0.0
