.accounts {
  input[type='text'] {
    height: 25px;
    text-align: right;
  }

  button[type='submit'] {
    margin-top: 20px;
  }

  &.action-index {
    button[type='submit'] {
      float: right;
    }

    table.index {
      width: 100%;

      th, td {
        &:first-of-type {
          width: 24%;
        }

        .amount {
          width: 10%;
        }

        &:last-of-type {
          width: 4%;
        }
      }
    }
  }

  &.action-apply-payments {
    input[type='text'] {
      width: 150px;
    }

    span.back {
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 5px;
      vertical-align: bottom;
    }
  }

  .exceeded {
    color: red;
    font-weight: bold;
  }
}