// Doing it this way to enable different thumbnail sizes based on class
@mixin dropzone($thumb-width, $thumb-height) {
  width: $thumb-width + 20px;
  line-height: 140%;
  margin-bottom: 20px;

  a.delete {
    float: right;
    font-size: 18px;
    color: $gray-text;
  }

  img.existing {
    width: $thumb-width;
  }

  .dz-preview {
    margin: 0;
    width: $thumb-width;

    .dz-success-mark, .dz-error-mark {
      top: $thumb-height / 2px - 28px;
    }
  }

  .dz-image {
    width: $thumb-width;
  }

  .dz-details {
    margin: 5px 0;

    .dz-filename {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .dz-preview.dz-error {
    .dz-image {
      height: $thumb-height;
      background-color: $faint-gray;
    }
  }

  .dz-message {
    width: $thumb-width;
    height: $thumb-height;
    // background-image is set inline in the partial since it depends on the model
    background-position: center center;
    background-size: $thumb-width - 20px $thumb-height - 20px;
    background-repeat: no-repeat;
    text-align: center;
    padding: ($thumb-height / 2px - 25px) 10px 10px 10px;
    cursor: pointer;
    border: 3px dashed $light-border-color;
  }

  &.dz-drag-hover .dz-message {
    border: 3px solid $medium-gray;
  }

  .dz-error-message {
    margin-top: 5px;
  }

  /////////////////////////////////////////////////////////////////////////////////////
  // Show and hide message, existing thumbnail, and delete link depending on state

  &.has-existing {
    img.existing {
      display: block;
    }
  }

  &, &.has-existing.existing-deleted {
    .dz-message {
      display: block;
    }
    a.delete {
      display: none;
    }
    img.existing {
      display: none;
    }
  }

  &.has-existing, &.dz-started, &.has-existing.dz-started {
    .dz-message {
      display: none;
    }
    a.delete {
      display: inline;
    }
  }
}
