form {
  .links {
    margin-top: -5px;
    margin-bottom: 10px;
  }
}

// Fix datetime select widths
.form-group.datetime select.datetime {
  display: inline-block;
  width: 75px;

  &[id$="_2i"] {
    width: 125px;
  }
}

// Labels inside control area shouldn't be bold
.form-group > div label {
  font-weight: normal;
}

// Overriding default label top padding
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0;
  }
}

// Overriding error message style
.has-error .help-block {
  background-color: #f2dede;
  padding: 0 5px;
  border: 1px solid #ebccd1;

  &:first-letter {
    text-transform: uppercase;
  }
}

.simple_form .select2-container .select2-selection--single {
  height: 33px;
}