body.home {
  background: #666 url(image-path("intro-bg.jpg")) no-repeat center -150px;

  #box {
    position: relative;
    width: 525px;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 150px auto 0 auto;
    text-align: center;
  }

  #logo {
    text-align: center;
    background-color: $theme-main;
    padding: 20px 0;
  }

  #blurb {
    margin: 20px 50px;
    line-height: 180%;
  }

  #home-content {
    margin-bottom: 10px;
  }

  #coho-logos {
    padding: 10px;
  }

  .alert {
    background: none;
    border: none;
    color: $gray-text;
    margin-bottom: 0;

    .close {
      display: none;
    }
  }

  @media (max-width: 550px) {
    #box {
      width: 90%;
      margin-top: 50px;

      #logo img {
        width: 75%;
      }
    }

  }
}