.households {
  &.action-accounts {
    form {
      margin-bottom: 20px;

      select {
        display: inline-block;
        width: 200px;
      }
    }

    table.key-value {
      margin-bottom: 5px;
    }

    table.index {
      width: 600px;
    }

    h4:last-of-type {
      margin-top: 20px;
    }
  }
}