.index-filter {
  margin-bottom: 20px;

  a {
    display: inline-block;
  }
}

table.index {
  tr.inactive {
    td, td a {
      color: $inactive-color;
    }
  }

  .action-icons {
    padding-right: 10px;
  }

  i.fa { // Icons
    width: 15px;
    text-align: center;
  }

  td.num {
    text-align: right;
  }
}

.none-found {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.search-form {
  white-space: nowrap;
  width: 200px;
  margin-bottom: 10px;
  display: inline-block;

  input.form-control {
    display: inline;
    width: inherit;
  }

  a {
    color: $gray-text;
    margin-left: -25px;
    margin-right: 8px;
  }
}