table.index {
  tr.inactive {
    td, td a {
      color: $inactive-color;
    }
  }

  .action-icons {
    padding-right: 10px;
  }

  i.fa { // Icons
    width: 15px;
    text-align: center;
  }

  td.num {
    text-align: right;
  }
}

.none-found {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}
