.index-filter {
  margin-bottom: 20px;

  a {
    display: inline-block;
  }
}

table.index {
  .action-icons {
    padding-right: 3px;
  }

  i.fa { // Icons
    width: 15px;
    text-align: center;
  }
}

.none-found {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}