html, body {
  height: 100%; // So we can have sticky footer
}

#main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto $neg-footer-height 0; // the bottom margin is the negative value of the footer's height
}

footer, #footer-pusher {
  height: $footer-height; // footer-pusher must be the same height as footer
}

#content, nav#subnav, footer {
  max-width: 1200px;
  margin: 0 auto;
}

#print-logo {
  display: none;
}

.nav-wrapper {
  max-width: 1200px;
}

nav.navbar {
  border: none;
  background-color: $theme-main;
  margin-bottom: 0;

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  #user-info {
    float: right;
  }

  a.navbar-brand {
    height: 85px;
    padding: 10px 30px 0 20px;

    img {
      height: 60px;
    }
  }

  ul.navbar-nav {

    a, .active a {
      color: #ddd;
      font-weight: bold;
      font-size: 15px;
      padding: 7px 15px;
    }

    a:hover, a:focus, .active a:hover, .active a:focus {
      color: #fff;
    }

    &.main-links {
      @media screen and (min-width: $grid-float-breakpoint) {
        margin-top: 28px;
      }

      .active a {
        background-color: #634265;
      }
    }

    .dropdown-menu {
      a {
        color: $main-text-color;
      }

      i {
        width: 20px;
        display: inline-block;
        text-align: center;
      }
    }

    @media screen and (min-width: $grid-float-breakpoint) {
      &.user-info {
        margin-right: -28px;
      }
    }

    @media screen and (max-width: $grid-float-breakpoint) {
      .open .dropdown-menu a {
        color: #ddd;
      }
    }
  }
}

nav#subnav {
  @media screen and (max-width: $grid-float-breakpoint) {
    display: none;
  }

  padding: 10px 20px 0 20px;
  font-size: 13px;

  .nav > li {
    a {
      padding: 5px 15px;
      color: $gray-text;

      i {
        margin-right: 5px;
      }
    }

    &.active a {
      color: $main-text-color;
    }

  }

}

#content {
  padding: 20px;
  line-height: 180%;
}

table {
  tr {
    border-bottom: $light-border;

    td {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

div.alert a {
  text-decoration: underline;
}

div.title-and-buttons {
  margin-bottom: 20px;

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .top-buttons i {
    font-size: 1.2em;
  }

  // Extra classes needed for specificity.
  .form-inline.lens-bar {
    display: inline-block;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (min-width: $grid-float-breakpoint) {
      margin-right: 10px;

      .form-control {
        width: 150px;
      }

      a.clear {
        color: #666;
        display: inline-block;
        font-size: 16px;

        span {
          display: none;
        }
      }
    }

    @media screen and (max-width: $grid-float-breakpoint) {
      display: block;

      .form-control {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }

      a.clear {
        display: block;
        margin-top: -5px;
      }
    }
  }

  @media screen and (min-width: $grid-float-breakpoint) {
    display: table;
    width: 100%;

    h1, div.top-buttons {
      display: table-cell;
      vertical-align: top;
    }

    div.top-buttons {
      text-align: right;

      > * {
        text-align: left;
      }
    }
  }
}

p.subtitle {
  margin-top: -10px;
}

footer {
  font-size: 11px;
  color: $gray-text;
  text-align: center;
  padding: 0 20px;

  a, a:visited, a:active, a:hover {
    color: $gray-text;
    text-decoration: underline;
  }
}