.meals {
  // Leave room for trash icon
  select[id$="_user_id"] {
    width: calc(100% - 20px);
    display: inline-block;
  }

  a.remove_fields {
    margin-left: 5px;
    display: inline-block;
  }

  .meal_allergens > div.boxes {
    height: 90px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  @media screen and (max-width: 768px) {
    .meal_allergens > div.boxes {
      height: 170px;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  tr.signed-up, div.meals-list div.meal.signed-up {
    background-color: #eeeeff;
  }

  table a.user-link {
    display: block;
  }

  // For mobile devices
  div.meals-list {

    div.meal {
      border: $light-border;
      border-radius: 5px;
      background-color: #eee;
      margin-bottom: 20px;
      padding: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      div.actions {
        float: right;
      }

      h4 {
        margin: 0;
      }

      div.title {
        border-bottom: $light-border;
        margin-bottom: 10px;
      }
    }
  }

  div.job {
    display: inline-block;

    &:not(:last-child)::after{
      content: ", ";;
    }
  }
}
