.meals.action-summary {
  #gen-time {
    float: right;
    font-weight: bold;
  }

  #portion-counts {
    font-size: 130%;
    margin-bottom: 10px;
  }

  table.compact td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 90%;
  }

  #signups {
    width: 100%;

    tr {
    }

    tr.total {
      td {
        font-weight: bold;
      }
    }

    tr.late-signups-header td {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      font-weight: bold;
    }

    th, td {
      border: $light-border;
      padding: 0 4px;

      &.count-col {
        width: 40px;
      }
    }
  }

  #cost-table {
    margin-top: 10px;

    th {
      padding-right: 10px;
    }
  }

  #reimb-form {
    width: 500px;
    margin-bottom: 20px;

    td:first-child {
      width: 50%;
      text-align: right;
    }

    td:last-child {
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
    }
  }
}