.signup {
  .prev-meal, .next-meal {
    line-height: 130%;
    margin-bottom: 20px;

    small {
      color: $gray-text;
      display: block;
    }
  }

  .prev-meal {
    padding-right: 5px;
  }

  .next-meal {
    text-align: right;
    padding-left: 5px;
  }

  i.fa-close {
    float: right;
    color: $gray-text;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  // Override the responsive grid stuff because we want to preserve horizontal layout
  // on small screens for this form
  .col-sm-6 {
    width: 50%;
    float: left;
  }

  // But comments should always be full width.
  div.signup_comments {
    .col-sm-6 {
      text-align: left;
      width: 100%;
    }
  }
}
