// Copied from bootstrap _pagination.scss to override colors.

.pagination > li > a,
.pagination > li > span {
  color: $link-color;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: $link-active-color;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $link-color;
  border-color: $link-color;
}
