#print-logo {
  display: none;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  #print-logo {
    display: block;
    margin: 0 auto 30px auto;
    height: 50px;
  }

  .action-icons {
    display: none;
  }
}
