.statements {
  div.summary {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }

  table.key-value {
    margin-bottom: 30px;
  }

  table.charges {
    margin-bottom: 20px;
  }

  tr.total {
    td {
      font-weight: bold;

      &:first-of-type {
        text-align: right;
      }
    }
  }

  #balance {
    font-size: 16px;
  }

  td.no-items {
    font-style: italic;
    text-align: center;
  }
}
