.statements {
  table.key-value {
    margin-bottom: 30px;
  }

  span.cr {
    display: inline-block;
    width: 20px;
    padding-left: 4px;
  }

  tr.total {
    td {
      font-weight: bold;

      &:first-of-type {
        text-align: right;
      }
    }
  }

  td.no-items {
    font-style: italic;
    text-align: center;
  }
}
