table.key-value {
  td:first-of-type {
    width: 250px;
    color: #999;
    padding-left: 15px;
    vertical-align: top;
  }

  td:last-of-type {
    width: 250px;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &.wide {
    td:last-of-type {
      width: 400px;
    }
  }
}