body {
  font-family: 'Raleway', sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Alternates', sans-serif;
}

a, a:visited {
  color: $theme-accent;
}

a:hover {
  color: $theme-accent-intense;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn-default, a.btn-default {
  background-color: #eee;
  color: #666;

  &:hover, &:active, &:focus {
    background-color: #ddd !important;
  }
}

.btn-primary, a.btn-primary {
  color: white;
  background-color: $theme-accent;

  &:hover, &:active, &:focus {
    background-color: $theme-accent-intense !important;
  }
}

.datetimepicker .btn {
  border: 1px solid $btn-default-border;
}

mark {
  background-color: $highlight-color;
  color: white;
}

.alert {
  border: none;
  border-radius: 0;
}

.weak {
  color: $gray-text;
}

.action-icons {
  white-space: nowrap;

  i.fa {
    font-size: 120%;
  }

  a:not(:first-of-type) i.fa {
    margin-left: 5px;
  }
}

td .action-icons {
  text-align: right;
}

h1 + .action-icons {
  margin: -15px 0 10px 0;
}
