.transactions {
  &.action-create {
    table.key-value tr {
      border-top: 1px solid $light-border-color;
    }

    table.index {
      margin-bottom: 20px;
    }
  }

  .transaction_amount input {
    width: 200px;
  }
}

.accounts, .statements, .transactions {
  span.cr {
    display: inline-block;
    width: 20px;
    padding-left: 4px;
  }
}
