.users {
  .phones span {
    display: inline-block;
    margin-right: 10px;
  }

  &.action-show {
    table.index {
      max-width: 600px;
    }

    h4 {
      margin-top: 20px;
    }
  }
}

#invite-list {
  width: 900px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  margin: 10px 0;
}