.users {
  &.action-index {
    .user {
      margin-bottom: 15px;

      .inner {
        background-color: $fainter-gray;
      }

      img {
        width: 25%;
        float: left;
      }

      .info {
        margin-left: 25%;
        padding: 5px 10px;
        line-height: 1.5;
        overflow-x: hidden;
        white-space: nowrap;

        a {
          color: $main-text-color;
        }

        .email, .unit-phone {
          &, a {
            color: $gray-text;
          }
        }
      }

      &.inactive {
        img {
          filter: grayscale(100%);
        }

        .info {
          &, a {
            color: $gray-text;
          }
        }
      }
    }
  }

  &.action-show {
    .photo {
      width: 150px;
      display: block;
      margin-bottom: 20px;
    }

    ul.details {
      list-style-type: none;
      padding: 0;
    }

    @media screen and (min-width: 768px) {
      .photo {
        float: left;
      }

      .user-info {
        margin-left: 170px;
      }
    }

    .phones span {
      display: inline-block;
      margin-right: 10px;
    }

    table.index {
      max-width: 600px;
    }

    h4 {
      margin-top: 20px;
    }
  }
}

#invite-list {
  width: 900px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  margin: 10px 0;
}

.users form {
  .user_roles .roles {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    label {
      margin-bottom: 0;
    }
  }

  .role.disabled {
    color: $gray-text;
  }

  #household-fields {
    background-color: $fainter-gray;
    padding: 15px;
    margin: 15px -15px;

    .title {
      text-align: center;
      margin-bottom: 10px;

      h4 {
        margin-top: 0;
      }
    }
  }
}
