.users {
  tr.deleted {
    td, td a {
      color: $inactive-color;
    }
  }

  .phones span {
    display: inline-block;
    margin-right: 10px;
  }
}

#invite-list {
  width: 900px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  margin: 10px 0;
}