$gray-text: #aaa;
$inactive-color: #ccc;
$light-border-color: #ccc;
$light-border: 1px solid $light-border-color;
$theme-main: #4e2250;
$theme-accent: #CF6C2F;
$theme-accent-light: lighten($theme-accent, 20%);
$theme-accent-intense: saturate($theme-accent, 20%);;
$highlight-color: lighten($theme-main, 20%);
$footer-height: 30px;
$neg-footer-height: -30px;
