$main-text-color: #444;
$gray-text: #aaa;
$medium-gray: #aaa;
$faint-gray: #eee;
$inactive-color: #ccc;
$light-border-color: #ccc;
$light-border: 1px solid $light-border-color;
$theme-main: #4e2250;
$theme-main-lightest: lighten($theme-main, 70%);
$theme-accent: #CF6C2F;
$theme-accent-light: lighten($theme-accent, 20%);
$theme-accent-intense: saturate($theme-accent, 20%);;
$highlight-color: lighten($theme-main, 20%);
$footer-height: 35px;
$neg-footer-height: -35px;
$error-red-bg: #f2dede;
$large-margin: 20px;
$content-max-width: 1200px;
