#global-footer-wrapper {
  background-color: $gray-lighterer;
}

#global-footer, #local-footer {
  font-size: 13px;
  color: $text-muted;
  padding: 10px 20px;
  width: 100%;

  a, a:visited, a:active, a:hover {
    color: $text-muted;
    text-decoration: underline;
  }

  div:last-child {
    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
}

#local-footer {
  padding: 20px;
}

#global-footer {
  padding: 20px 20px 40px 20px;
}
