#global-footer-wrapper {
  background-color: $faint-gray;
}

#global-footer, #local-footer {
  font-size: 12px;
  color: $gray-text;
  padding: 10px 20px;
  width: 100%;

  a, a:visited, a:active, a:hover {
    color: $gray-text;
    text-decoration: underline;
  }

  div:last-child {
    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
}

#local-footer {
  padding: 20px;
}

#global-footer {
  padding: 20px 20px 40px 20px;
}

// Special global footer styles for landing page
body.home {
  #global-footer-wrapper {
    background-color: white;
    text-align: center;
  }
}
