@media screen {
  #content, #nav-wrapper, #subnav, #main-footer {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  #content {
    padding: 20px;
    line-height: $content-line-height;
  }
}

p.subtitle {
  margin-top: -10px;
}

// The .hide and .hidden classes provided by Bootstrap both have !important, which is not good!
.hiding {
  display: none;
}
