@media screen {
  html, body {
    height: 100%; // Needed for sticky footer with flexbox to work on IE11.
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #content, .nav-wrapper, .subnav, #local-footer, #global-footer {
    max-width: $content-max-width;
    margin: 0 auto;
    width: 100%;
  }

  #content {
    padding: 20px;
    line-height: $content-line-height;
    flex-grow: 1; // flex: 1 was not working on IE11 as of 1/19/18
  }
}

#impersonation-notice {
  padding: 10px;
  background-color: $brand-danger;
  color: white;
  // font-weight: bold;
  text-align: center;

  a {
    color: white;
    text-decoration: underline;
  }
}

p.subtitle {
  margin-top: -10px;
}

// The .hide and .hidden classes provided by Bootstrap both have !important, which is not good!
.hiding {
  display: none;
}
