@media screen {
  html, body {
    height: 100%; // Needed for sticky footer with flexbox to work on IE11.
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #main-row, .nav-wrapper, .subnav, #local-footer, #global-footer {
    max-width: $content-max-width;
    margin: 0 auto;
    width: 100%;
  }

  #skip-link {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }

  #main-row {
    // make main row fill vertical space so we get sticky footer
    // flex: 1 was not working on IE11 as of 1/19/18
    // flex-grow: 1 was not working on Safari as of 3/2/21
    flex: 1 0 auto;
  }

  #content {
    line-height: $content-line-height;


    // Needed to make flowing columns layouts stay within viewport.
    // For example, on the directory. Without this, setting overflow:hidden
    // on individual cards doesn't work—they just expand and go outside the viewport.
    width: 100%;


    // make content fill horizontal space
    flex: 1;
  }
}

// Desktop
@media screen and (min-width: $screen-md-min) {
  #main-row {
    // display flex so that the subsubnav, if present, will be to the left instead of above
    display: flex;

    // padding is on the whole main row. spacing between subsubnav and content is handled
    // in the navs style
    padding: 20px;
  }
}

// Tablet and mobile
@media screen and (max-width: $screen-sm-max) {
  #content {
    // padding on just the content b/c the subsubnav is closer than 20px to the upper navs
    // on tablet and mobile
    padding: 20px;
  }
}

#impersonation-notice {
  padding: 10px;
  background-color: $brand-danger;
  color: white;
  // font-weight: bold;
  text-align: center;

  a {
    color: white;
    text-decoration: underline;
  }
}

p.subtitle {
  margin-top: -10px;
}

// For simple pages where you don't want super long strings of text on laptop/desktop views
.simple {
  max-width: 800px;
}

// The .hide and .hidden classes provided by Bootstrap both have !important, which is problematic
// if you want to hide something but show it later with JS.
.hiding {
  display: none;
}
