div.title-and-buttons {
  margin-bottom: 20px;

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  div.top-buttons i {
    font-size: 1.2em;
  }

  div.top-buttons div.action-links {
    margin-bottom: -10px;

    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
    }

    i {
      margin-right: 4px;
    }

    a {
      white-space: nowrap;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    display: table;
    width: 100%;

    h1, div.top-buttons {
      display: table-cell;
      vertical-align: top;
    }

    div.top-buttons {
      text-align: right;

      > * {
        text-align: left;
      }
    }
  }
}
