div.title-and-buttons {
  margin-bottom: 20px;

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .title-footnote {
    font-size: 0.5em;
  }

  div.top-buttons i {
    font-size: 1.2em;
  }

  div.top-buttons div.action-links {
    margin-bottom: -10px;

    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
    }

    @media screen and (min-width: $screen-md-min) {
      display: inline-block;
    }

    .action-link-group {
      @media screen and (max-width: $screen-xs-max) {
        display: inline-block;
      }

      @media screen and (min-width: $screen-sm-min) {
        white-space: nowrap;
      }
    }

    i.fa {
      margin-right: 4px;
    }

    button, a {
      @media screen and (min-width: $screen-sm-min) {
        margin-left: 5px;
      }

      @media screen and (max-width: $screen-xs-max) {
        margin-right: 10px;
      }

      white-space: nowrap;
      display: inline-block;
      margin-bottom: 5px;
    }

    a.icon-only, button.icon-only {
      i.fa {
        margin-right: 0;
      }
    }

    .btn-group {
      // Bootstrap sets this to 'middle' by default which messes up alignment with the other buttons.
      vertical-align: top;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    display: table;
    width: 100%;

    h1, div.top-buttons {
      display: table-cell;
      vertical-align: top;
    }

    div.top-buttons {
      text-align: right;

      > * {
        text-align: left;
      }
    }
  }
}
