<%= meal.form_section(:workers, expanded: local_assigns[:expanded]) do %>
  <div class="alert alert-info formula-change-notice hiding">
    The formula for this meal has been changed, which may make other roles available for assignment below.
    To see any new meal roles, please save the meal and return to this page. Existing worker
    assignments won't be deleted if their roles are not associated with the new formula.
  </div>
  <div id="assignment-fields">
    <% @roles.each do |role| %>
      <div data-role-id="<%= role.id %>">
        <%= nested_field_set(f, :assignments,
              objects: meal.assignments_by_role[role] || [],
              context: "current_community_all",
              label: role.title,
              multiple: !role.head_cook?,
              allow_clear: role.head_cook?,
              inner_partial: "meals/meals/form/assignment_fields",
              inner_labels: false,
              wrap_object: Proc.new { |assign| assign.role = role; assign }) %>
      </div>
    <% end %>
  </div>
<% end %>
