---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,mimeType,iconLink,webViewLink,modifiedTime)&orderBy=folder,name&q=%270B24us5XZC4JyX21yUUw3aHBEYlU%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "0B24us5XZC4JyTVZ6el83LWFRaFE",
           "name": "Book of Agreements",
           "mimeType": "application/vnd.google-apps.folder",
           "webViewLink": "https://drive.google.com/drive/folders/0B24us5XZC4JyTVZ6el83LWFRaFE?resourcekey=0-7_tP1JvxSKtU5TaTCuIW1Q",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
           "modifiedTime": "2022-09-29T19:27:59.993Z"
          },
          {
           "id": "0B24us5XZC4JyUTVaRjFhcXdxWFU",
           "name": "Children",
           "mimeType": "application/vnd.google-apps.folder",
           "webViewLink": "https://drive.google.com/drive/folders/0B24us5XZC4JyUTVaRjFhcXdxWFU?resourcekey=0-pKwAu2KBR5enHwmHEX-Fag",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
           "modifiedTime": "2022-09-29T19:27:59.9[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0ByZVkiUGfAehRF8zR2k3UlctSW8?fields=id,name,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "0ByZVkiUGfAehRF8zR2k3UlctSW8",
          "name": "Common House",
          "parents": [
            "0B24us5XZC4JyX21yUUw3aHBEYlU"
          ]
        }
  recorded_at: Thu, 03 Nov 2022 01:37:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,name,mimeType,iconLink,webViewLink,modifiedTime)&orderBy=folder,name&q=%270ByZVkiUGfAehRF8zR2k3UlctSW8%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer xxxx.A0ARrdaM_QONGK0_iSoCLftOlsCiWISzolJRKsAvL6Yvjz8V6RUq2cLOfmHA-gS2dEO3W_vFD5g8ChtNQpV5AfqQ8BIPtP_xDbjZavVZ1YeggP2EeWocrEDxdxVrByirrzfY32MExTnpimol114AB7BHdCxxxx
      Content-Type:
   [...]
