<div class="assignment-fields">
  <%= f.hidden_field :id %>
  <%= f.input :user_id, as: :user_select, label: false, context: "current_community_all", allow_clear: true %>
  <%= icon_tag("thumb-tack") if f.object.preassigned? || (f.object.new_record? && @job.period_draft?) %>
</div>
