<p>Hello <%= @resource.name %>!</p>

<p>You are invited to log in to MESS (the Meals Electronic Signup System) by using the link below.</p>

<p><%= link_to 'Log in to MESS', root_url(token: @token) %></p>
