<% if @credits.any? %>
  <h2>Payments/Credits</h2>
  <table class="index credits">
    <%= render("transactions/credit_header") %>
    <% @credits.each do |txn| %>
      <%= render("transactions/credit_row", txn: txn) %>
    <% end %>
  </table>
<% end %>

<% if @charges.any? %>
  <h2>Charges</h2>
  <table class="index charges">
    <%= render("transactions/charge_header") %>
    <% @charges.each do |txn| %>
      <%= render("transactions/charge_row", txn: txn) %>
    <% end %>
  </table>
<% end %>
