<tr>
  <td class="col-md-1"><%= l(txn.incurred_on, format: :short_date) %></td>
  <td class="col-md-1"><%= t("transaction_codes.#{txn.code}") %></td>
  <td class="col-md-6"><%= txn.description %></td>
  <td class="col-md-1 num">
    <%= currency_with_cr_span(txn.amount) %>
  </td>
</tr>
