<% content_for(:title, "Connection To Google Drive") %>
<% if @config.nil? %>
  <div class="center-notice">
    Your community is not yet configured for integration with Google Drive.
    Please contact a Gather staff member to get started.
  </div>
<% elsif @no_credentials %>
  <p>
    Please click the button below and sign in to Google with the <strong><%= @config.org_user_id %></strong> account.
  </p>
  <p>
    <%= link_to("Authenticate With Google", @auth_url, class: "btn btn-primary") %>
  </p>
<% else %>
  You are connected to Google Drive with <strong><%= @config.org_user_id %></strong>.
<% end %>

<script src="https://apis.google.com/js/api.js"></script>
