<tr>
  <td>Billing Email</td>
  <td><%= subscription.contact_email %></td>
</tr>
<tr>
  <td>Number of Users</td>
  <td><%= subscription.quantity %></td>
</tr>
<tr>
  <td>Price per User</td>
  <td><%= number_to_currency(subscription.price_per_user_cents / 100) %></td>
</tr>
<tr>
  <td>Billing Period</td>
  <td>Every <%= pluralize(subscription.months_per_period, "month") %></td>
</tr>
