<% content_for(:title, "Subscription") %>
<% content_for(:local_javascript, javascript_include_tag("https://js.stripe.com/v3/")) %>
<% content_for(:local_viewport, "minimum-scale=1") %>

<%= turbo_frame_tag(:payment) do %>
  <div data-controller="subscription"
      data-subscription-publishable-key-value="<%= Settings.stripe.publishable_key %>"
      data-subscription-client-secret-value="<%= @subscription.client_secret %>">
    <div id="amount">
      <%= number_with_precision(@subscription.last_invoice_amount_cents.to_f / 100, precision: 2) %>
    </div>
    <div id="payment-element">
      <!-- Elements will create form elements here -->
    </div>
    <button data-action="click->subscription#confirm">Subscribe</button>
    <div id="error-message">
      <!-- Display error message to your customers here -->
    </div>
  </div>
<% end %>