.finalize {
  #time-cook {
    margin-top: -5px;
    margin-bottom: 10px;
  }

  p {
    max-width: 800px;
  }

  table.index {
    margin-bottom: 5px;
    width: auto;

    tr {
      height: 45px;
    }

    tr.dupe {
      background-color: $error-red-bg;
    }

    th.diner-type, th.food-type {
      text-align: center;
    }

    th:first-of-type, td:first-of-type {
      padding-left: 10px;
    }

    td:first-of-type {
      width: 200px;
    }

    td.count {
      width: 65px;
      text-align: center;

      a {
        color: #e6e6e6;
      }

      select {
        width: 60px;
        display: inline;

        &.zero {
          display: none;
        }
      }
    }

    td.remove {
      padding: 0 15px;
      text-align: center;
    }
  }

  h4 {
    margin: 20px 0;
  }

  #reimb-fields input[type=text] {
    width: 150px;
  }
}
