.finalize {
  #time-cook {
    margin-top: -5px;
    margin-bottom: 10px;
  }

  table.index {
    margin-bottom: 5px;
    width: 100%;

    tr.dupe {
      background-color: $error-red-bg;
    }

    th.diner-type, th.food-type {
      text-align: center;
    }

    td.count {
      text-align: center;
    }

    td:first-of-type {
      width: 200px;
    }
  }

  table.index.new {
    tr {
      height: 45px;
    }

    td.count {
      a.expander {
        color: #e6e6e6;

        // Make this as wide as the select box (approx). so that the table expands nicely.
        display: inline-block;
        width: 58px;
        text-align: center;
      }

      select {
        width: 60px;
        display: inline;

        &.zero {
          display: none;
        }
      }
    }

    td.remove {
      padding: 0 15px;
      text-align: center;
    }
  }

  table.index.confirm {
    tr.cost {
      td {
        background-color: $highlight-color;
      }

      td.count {
        font-weight: bold;
      }
    }
  }

  h3 {
    margin: 20px 0;
  }

  #reimb-fields input[type=text] {
    width: 150px;
  }
}
