.users {
  .dropzone-wrapper[data-width="150"] {
    @include dropzone(150px, 150px);
  }

  .dropzone-wrapper[data-width="300"] {
    @include dropzone(300px, 300px);
  }

  form {
    .user_roles .roles {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;

      label {
        margin-bottom: 0;
      }
    }

    .role.disabled {
      color: $text-muted;
    }

    .user_privacy_settings {
      label {
        margin-bottom: 0;
      }
    }

    #household-fields {
      background-color: $gray-lighterer;
      padding: 15px;
      margin: 15px -15px;

      .title {
        text-align: center;
        margin-bottom: 10px;

        h3 {
          margin-top: 0;
        }
      }
    }
  }
}
