// General styles for all views.
.users.action-index {
  @media print {
    .long-email {
      font-size: 90%;
    }
  }
}

#directory-album {
  .user {
    margin-bottom: 20px;
    background-color: $gray-lighterer;
    display: flex;

    h2.person-name {
      margin: 0;
      font-size: $font-size-base;
      line-height: 1.5;

      a {
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: normal;
      }
    }

    img {
      width: 125px;
      height: 125px;
    }

    .info {
      padding: 10px;
      width: 100%;
      line-height: 1.5;
      overflow-x: hidden;
      white-space: nowrap;

      i.preferred-contact {
        float: right;
        color: $text-muted;
      }

      a {
        color: $text-color;
      }

      .pronouns, .email, .unit-phone {
        &, a {
          color: $text-muted;
        }
      }
    }

    &.inactive {
      img {
        filter: grayscale(100%);
      }

      .info {
        &, a {
          color: $text-muted;
        }
      }
    }
  }
}

#printable-directory-album {
  tr {
    border: none;
  }

  td.user {
    width: 33.333%;
    margin-right: 10px;
    vertical-align: top;

    img {
      width: 25%;
      float: left;
    }

    .info {
      font-size: 11px;
      border-top: 1px solid $light-border-color;
      margin-left: 25%;
      margin-right: 10px;
      padding: 5px 0 5px 10px;
      line-height: 1.2;
      overflow-x: hidden;
      white-space: nowrap;

      .unit-num {
        float: right;
      }
    }

    &:last-of-type .info {
      margin-right: 0;
    }
  }
}

#directory-table {
  .pronouns {
    font-size: .9em;
  }
}