// NOTE: Some shared styles are located in household style files.
.users.action-show {
  h3 {
    margin-top: 20px;
  }

  img.photo {
    width: 100%;
    margin-bottom: 10px;
  }

  div.role {
    color: $theme-main;
    border-radius: 5px;
    border: 1px solid $theme-main;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 5px 5px 0;
    line-height: 1;
  }

  td.phones {
    span {
      display: block;
    }
  }

  a.household {
    color: $text-muted;
  }
}
