<tr>
  <td class="col-md-1"><%= txn.incurred_on.to_s(:short_date) %></td>
  <td class="col-md-1"><%= t("line_item_codes.#{txn.code}") %></td>
  <td class="col-md-6"><%= txn.description %></td>
  <td class="col-md-1 num">
    <%= currency_with_cr_span(txn.amount) %>
  </td>
</tr>
