---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/REFRESHitemB0001/permissions?fields=permissions(id,emailAddress,role,type,permissionDetails),nextPageToken&pageSize=100&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "File not found: REFRESHitemB0001.",
            "errors": [
              {
                "message": "File not found: REFRESHitemB0001.",
                "domain": "global",
                "reason": "notFound",
                "location": "fileId",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Sun, 01 Jan 2023 00:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/REFRESHitemC0001/permissions?fields=permissions(id,emailAddress,role,type,permissionDetails),nextPageToken&pageSize=100&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permissionList",
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "permC1111111111",
              "type": "user",
              "emailAddress": "user1@example.com",
              "role": "reader"
            }
          ]
        }
  recorded_at: Sun, 01 Jan 2023 00:00:00 GMT
recorded_with: VCR 4.0.0
