<div aria-labelledby="glb-error-modal-label" class="modal fade" id="glb-error-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="glb-error-modal-label">
          Error
        </h2>
      </div>
      <div class="modal-body">
        We're sorry, but there was an error in processing your request.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
