---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/drives?requestId=2d13b315-ee72-43eb-acf6-115528451c83
    body:
      encoding: UTF-8
      string: '{"name":"Migration Temp Drive 537716653"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#drive",
          "id": "0AMdWFo9rfVYAUk9PVA",
          "name": "Migration Temp Drive 537716653"
        }
  recorded_at: Sun, 24 Dec 2023 21:20:09 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0AMdWFo9rfVYAUk9PVA/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"example@gmail.com","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Sun, 24 Dec 2023 21:20:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/13LqTKL6yZq7MkpNKp1de2SromgPJ5m6cVbWx_hcnFoQ?fields=name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit)
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "name": "File B.1",
          "mimeType": "application/vnd.google-apps.document",
          "parents": [
            "1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV"
          ],
          "webViewLink": "https://docs.google.com/document/d/13LqTKL6yZq7MkpNKp1de2SromgPJ5m6cVbWx_hcnFoQ/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "modifiedTime": "2023-12-24T21:19:11.287Z",
          "owners": [
            {
              "emailAddress": "example@gmail.com"
            }
          ],
          "capabilities": {
            "canEdit": true
          }
        }
  recorded_at: Sun, 24 Dec 2023 21:20:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV?fields=id,name,parents&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV",
          "name": "Folder B",
          "parents": [
            "1PJwkZgkByPMcbkfzneq65Cx1CnDNMVR_"
          ]
        }
  recorded_at: Sun, 24 Dec 2023 21:20:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1REPQUYEGym1APlylgINdZFO1Lh85eDq4?fields=id,mimeType&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "1REPQUYEGym1APlylgINdZFO1Lh85eDq4",
          "mimeType": "application/vnd.google-apps.folder"
        }
  recorded_at: Sun, 24 Dec 2023 21:20:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id)&includeItemsFromAllDrives=true&q=%271REPQUYEGym1APlylgINdZFO1Lh85eDq4%27%20in%20parents%20and%20mimeType%20=%20%27application/vnd.google-apps.folder%27%20and%20trashed%20=%20false%20and%20name%20=%20%27Folder%20B%27&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "files": [
            {
              "id": "1XTUhax-CXHKkTsd1GkKolt_6nLmapJHP"
            }
          ]
        }
  recorded_at: Sun, 24 Dec 2023 21:20:10 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/13LqTKL6yZq7MkpNKp1de2SromgPJ5m6cVbWx_hcnFoQ?addParents=0AMdWFo9rfVYAUk9PVA&removeParents=1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byCZtFZs8iViwSl1InCMw7ccVnWzWkf2znVd-mcTJAWXpzq1PdCjcf6db2GI51mFjMa0FGSLD_IDE_waojvV35h0py6dwTUFqCoMKv-N786IbtFEwbPSezV9n0T_uekpBvMSjqom3AC2VuUAVTsRALOIfLR3_7MWj8gaCgYKAdwSARMSFQHGX2MiuK1J5lM_LwoeNX3-Ru_NPQ0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "13LqTKL6yZq7MkpNKp1de2SromgPJ5m6cVbWx_hcnFoQ",
          "name": "File B.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0AMdWFo9rfVYAUk9PVA",
          "driveId": "0AMdWFo9rfVYAUk9PVA"
        }
  recorded_at: Sun, 24 Dec 2023 21:20:12 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/13LqTKL6yZq7MkpNKp1de2SromgPJ5m6cVbWx_hcnFoQ?addParents=1XTUhax-CXHKkTsd1GkKolt_6nLmapJHP&removeParents=0AMdWFo9rfVYAUk9PVA&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "13LqTKL6yZq7MkpNKp1de2SromgPJ5m6cVbWx_hcnFoQ",
          "name": "File B.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0AExZ3-Cu5q7uUk9PVA",
          "driveId": "0AExZ3-Cu5q7uUk9PVA"
        }
  recorded_at: Sun, 24 Dec 2023 21:20:13 GMT
recorded_with: VCR 4.0.0
