---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/drives?requestId=25a4f5bc-38cc-40bc-867f-f3333d66be72
    body:
      encoding: UTF-8
      string: '{"name":"Migration Temp Drive 537716653"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#drive",
          "id": "0AIUrLMIXUJhwUk9PVA",
          "name": "Migration Temp Drive 537716653"
        }
  recorded_at: Sun, 24 Dec 2023 21:32:17 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0AIUrLMIXUJhwUk9PVA/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"example@gmail.com","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Sun, 24 Dec 2023 21:32:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1ocLaGwSn97tTpZa1o_UbfJJXM1rFqhcA8CQyCIWMRKs?fields=name,parents,mimeType,webViewLink,iconLink,modifiedTime,owners(emailAddress),capabilities(canEdit)
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "name": "File B.1",
          "mimeType": "application/vnd.google-apps.document",
          "parents": [
            "13dcZ65dZ5H-npYmvrlLBGsSyC0EzpEsm"
          ],
          "webViewLink": "https://docs.google.com/document/d/1ocLaGwSn97tTpZa1o_UbfJJXM1rFqhcA8CQyCIWMRKs/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "modifiedTime": "2023-12-24T21:24:50.392Z",
          "owners": [
            {
              "emailAddress": "example@gmail.com"
            }
          ],
          "capabilities": {
            "canEdit": true
          }
        }
  recorded_at: Sun, 24 Dec 2023 21:32:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/13dcZ65dZ5H-npYmvrlLBGsSyC0EzpEsm?fields=id,name,parents&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byAR_u-vIsZ0DUDUzuHbO096mEwHdmEheCNumvMYr5SO7cfZMtP6Wf3y2Um9ckzkJjMCcN0EAH6L_j9MV_8ejDKg13NiLdkCAn70T0LLUUkwEXUm4Sh0MmGg-25lOBVC0QFPqM6Sy32r2mHX1I0Zl2nR2gs6lCgpMNEaCgYKARwSARESFQHGX2Mi4XjUyjuQSiYqiUpAtHxt3A0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "13dcZ65dZ5H-npYmvrlLBGsSyC0EzpEsm",
          "name": "Test Folder B"
        }
  recorded_at: Sun, 24 Dec 2023 21:32:18 GMT
recorded_with: VCR 4.0.0
