---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/drives?requestId=9c75f009-5253-4516-b8f7-6139e73c8c9d
    body:
      encoding: UTF-8
      string: '{"name":"Migration Temp Drive 537716653"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byB2E4h2_PfmS2I5Vy8ina3NfkfAsIcyUzsv9Ht8EVX13jIEwshX7OOloKPzihyxdEIGdo-OmUO2ZUyQVn5vUsRaK9-RTJ79wvxQrz56N5k3-tu5VEtQ7XHDRq-9fVFmZxpc0W6cERmTR7GhFDIoqJ2WKKTAzwfkEHcaCgYKAfUSARESFQHGX2MiUTxIK4tXyK33igfFSdkgJg0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#drive",
          "id": "0AEhTsbjXOy0gUk9PVA",
          "name": "Migration Temp Drive 537716653"
        }
  recorded_at: Wed, 20 Dec 2023 13:28:20 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0AEhTsbjXOy0gUk9PVA/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"example@gmail.com","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byB2E4h2_PfmS2I5Vy8ina3NfkfAsIcyUzsv9Ht8EVX13jIEwshX7OOloKPzihyxdEIGdo-OmUO2ZUyQVn5vUsRaK9-RTJ79wvxQrz56N5k3-tu5VEtQ7XHDRq-9fVFmZxpc0W6cERmTR7GhFDIoqJ2WKKTAzwfkEHcaCgYKAfUSARESFQHGX2MiUTxIK4tXyK33igfFSdkgJg0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Wed, 20 Dec 2023 13:28:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/xyz?fields=id,name,parents&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byB2E4h2_PfmS2I5Vy8ina3NfkfAsIcyUzsv9Ht8EVX13jIEwshX7OOloKPzihyxdEIGdo-OmUO2ZUyQVn5vUsRaK9-RTJ79wvxQrz56N5k3-tu5VEtQ7XHDRq-9fVFmZxpc0W6cERmTR7GhFDIoqJ2WKKTAzwfkEHcaCgYKAfUSARESFQHGX2MiUTxIK4tXyK33igfFSdkgJg0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "File not found: xyz.",
            "errors": [
              {
                "message": "File not found: xyz.",
                "domain": "global",
                "reason": "notFound",
                "location": "fileId",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Wed, 20 Dec 2023 13:28:21 GMT
recorded_with: VCR 4.0.0
