---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/drives?requestId=7834be73-9b89-4958-97f3-5f36ebb3cca9
    body:
      encoding: UTF-8
      string: '{"name":"Migration Temp Drive 537716653"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byDfE-BhHd7mN36oaM_AEzTPvzICAiA24BUQ-VbiZwM3JCWtRHs8ZJbtIAh19AQcRgVEdeaASVZGJd1efUo6xl1FgX_amXhaAmgzS0u3szmBtga4i1ezSq09hatCbdm7hgNmlqoyv7uQGORyCOrlnhcakaL0UwWo37oaCgYKAWYSARESFQHGX2MiaUvmBA-9H8ZPCFMwpCc91Q0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#drive",
          "id": "0ACMH63vLWM8LUk9PVA",
          "name": "Migration Temp Drive 537716653"
        }
  recorded_at: Fri, 15 Dec 2023 13:39:18 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/0ACMH63vLWM8LUk9PVA/permissions?sendNotificationEmail=false&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: '{"emailAddress":"tomsmyth@gmail.com","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0AfB_byDfE-BhHd7mN36oaM_AEzTPvzICAiA24BUQ-VbiZwM3JCWtRHs8ZJbtIAh19AQcRgVEdeaASVZGJd1efUo6xl1FgX_amXhaAmgzS0u3szmBtga4i1ezSq09hatCbdm7hgNmlqoyv7uQGORyCOrlnhcakaL0UwWo37oaCgYKAWYSARESFQHGX2MiaUvmBA-9H8ZPCFMwpCc91Q0174
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "12363746022515177322",
          "type": "user",
          "role": "writer"
        }
  recorded_at: Fri, 15 Dec 2023 13:39:20 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/15vNLHLMuTBBqxVqvZkZcvcn5LF9XTMn-P4a2IXijdOo?addParents=0ACMH63vLWM8LUk9PVA&removeParents=1nqlV0TWp5e78WCVmSuLdtQ2KYV2S8hsV&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byBw4V29X5oIg3yLQ5mWtJVod-p142iq2x2JWBvRiBeWlFFr4Yoh3PGfW37alOhOftuv03yburDzbj2WLl3bQK5P_kIDtdQeOpAkJC1Pq2vOT9GqGDWc4N9OTcf1Ufw8wIka-lVc55I3AzteFcvAzp-1dz_cT3aqvQaCgYKAZwSARMSFQHGX2MiCQ4_B0zxrJwPHa5L_3630w0173
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "15vNLHLMuTBBqxVqvZkZcvcn5LF9XTMn-P4a2IXijdOo",
          "name": "File B.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0ACMH63vLWM8LUk9PVA",
          "driveId": "0ACMH63vLWM8LUk9PVA"
        }
  recorded_at: Fri, 15 Dec 2023 13:39:21 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/15vNLHLMuTBBqxVqvZkZcvcn5LF9XTMn-P4a2IXijdOo?addParents=1wX5bKq7TPUHS2tX0UM9SJkAEhGsJy-H3&removeParents=0ACMH63vLWM8LUk9PVA&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byDfE-BhHd7mN36oaM_AEzTPvzICAiA24BUQ-VbiZwM3JCWtRHs8ZJbtIAh19AQcRgVEdeaASVZGJd1efUo6xl1FgX_amXhaAmgzS0u3szmBtga4i1ezSq09hatCbdm7hgNmlqoyv7uQGORyCOrlnhcakaL0UwWo37oaCgYKAWYSARESFQHGX2MiaUvmBA-9H8ZPCFMwpCc91Q0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "15vNLHLMuTBBqxVqvZkZcvcn5LF9XTMn-P4a2IXijdOo",
          "name": "File B.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0AExZ3-Cu5q7uUk9PVA",
          "driveId": "0AExZ3-Cu5q7uUk9PVA"
        }
  recorded_at: Fri, 15 Dec 2023 13:39:22 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1jkDIn31dWj9TenZQ-qjpP8pMN2bGqEpiP1wciZ1ykE0?addParents=0ACMH63vLWM8LUk9PVA&removeParents=1yWXMPJnSpso__yXpopV_WZ-kBj39GJi-&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byBw4V29X5oIg3yLQ5mWtJVod-p142iq2x2JWBvRiBeWlFFr4Yoh3PGfW37alOhOftuv03yburDzbj2WLl3bQK5P_kIDtdQeOpAkJC1Pq2vOT9GqGDWc4N9OTcf1Ufw8wIka-lVc55I3AzteFcvAzp-1dz_cT3aqvQaCgYKAZwSARMSFQHGX2MiCQ4_B0zxrJwPHa5L_3630w0173
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1jkDIn31dWj9TenZQ-qjpP8pMN2bGqEpiP1wciZ1ykE0",
          "name": "File C.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0ACMH63vLWM8LUk9PVA",
          "driveId": "0ACMH63vLWM8LUk9PVA"
        }
  recorded_at: Fri, 15 Dec 2023 13:39:23 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1jkDIn31dWj9TenZQ-qjpP8pMN2bGqEpiP1wciZ1ykE0?addParents=14huMaHzvNxvfxdoQPqm3fLVOT0I1oDk-&removeParents=0ACMH63vLWM8LUk9PVA&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byDfE-BhHd7mN36oaM_AEzTPvzICAiA24BUQ-VbiZwM3JCWtRHs8ZJbtIAh19AQcRgVEdeaASVZGJd1efUo6xl1FgX_amXhaAmgzS0u3szmBtga4i1ezSq09hatCbdm7hgNmlqoyv7uQGORyCOrlnhcakaL0UwWo37oaCgYKAWYSARESFQHGX2MiaUvmBA-9H8ZPCFMwpCc91Q0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1jkDIn31dWj9TenZQ-qjpP8pMN2bGqEpiP1wciZ1ykE0",
          "name": "File C.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0AExZ3-Cu5q7uUk9PVA",
          "driveId": "0AExZ3-Cu5q7uUk9PVA"
        }
  recorded_at: Fri, 15 Dec 2023 13:39:25 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1UKLwGkmZbP6e5RFHWY_tO1gMe0P93lFPBoL14Jd14rc?addParents=0ACMH63vLWM8LUk9PVA&removeParents=1FBirfPXk-5qaMO1BkvlyhaC8JARE_FRq&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byBw4V29X5oIg3yLQ5mWtJVod-p142iq2x2JWBvRiBeWlFFr4Yoh3PGfW37alOhOftuv03yburDzbj2WLl3bQK5P_kIDtdQeOpAkJC1Pq2vOT9GqGDWc4N9OTcf1Ufw8wIka-lVc55I3AzteFcvAzp-1dz_cT3aqvQaCgYKAZwSARMSFQHGX2MiCQ4_B0zxrJwPHa5L_3630w0173
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1UKLwGkmZbP6e5RFHWY_tO1gMe0P93lFPBoL14Jd14rc",
          "name": "File Root.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0ACMH63vLWM8LUk9PVA",
          "driveId": "0ACMH63vLWM8LUk9PVA"
        }
  recorded_at: Fri, 15 Dec 2023 13:39:26 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1UKLwGkmZbP6e5RFHWY_tO1gMe0P93lFPBoL14Jd14rc?addParents=0AExZ3-Cu5q7uUk9PVA&removeParents=0ACMH63vLWM8LUk9PVA&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfB_byDfE-BhHd7mN36oaM_AEzTPvzICAiA24BUQ-VbiZwM3JCWtRHs8ZJbtIAh19AQcRgVEdeaASVZGJd1efUo6xl1FgX_amXhaAmgzS0u3szmBtga4i1ezSq09hatCbdm7hgNmlqoyv7uQGORyCOrlnhcakaL0UwWo37oaCgYKAWYSARESFQHGX2MiaUvmBA-9H8ZPCFMwpCc91Q0174
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1UKLwGkmZbP6e5RFHWY_tO1gMe0P93lFPBoL14Jd14rc",
          "name": "File Root.1",
          "mimeType": "application/vnd.google-apps.document",
          "teamDriveId": "0AExZ3-Cu5q7uUk9PVA",
          "driveId": "0AExZ3-Cu5q7uUk9PVA"
        }
  recorded_at: Fri, 15 Dec 2023 13:39:27 GMT
recorded_with: VCR 4.0.0
