<% if @has_activity %>
  <div class="row">
    <div class="col-sm-6">
      <%= render("summary", footnotes: footnotes) %>
      <%= render("statement_list") %>
    </div>
    <div class="col-sm-6">
      <%= render("payment_instructions") %>
      <%= render("other_accounts") if accounts %>
    </div>
  </div>
<% else %>
  <div class="center-notice">
    There is no activity on this account.
  </div>
<% end %>
