<% if @accounts.size > 1 %>
  <% cls = @community.settings.billing.payment_instructions ? "inner" : "top" %>
  <h2 class="<%= cls %>">Looking For Another Account?</h2>
  <% others = @accounts.map(&:community) - [@community] %>
  <% others.map! { |c| link_to(c.name, accounts_household_path(@household, community_id: c.id)) } %>
  <% if others.size == 1 %>
    <p><%= t("accounts.others.one_html", cmty: others[0]) %></p>
  <% else %>
    <p><%= t("accounts.others.multiple_html") %></p>
    <ul>
      <% others.each do |link| %>
        <li><%= link %></li>
      <% end %>
    </ul>
  <% end %>
  <p>Each community manages its own accounts.</p>
<% end %>
