<% content_for(:title, "Account: #{account.household_name}") %>
<% content_for(:top_buttons, account.action_links) %>
<%= render("details", footnotes: false) %>

<% if @txn_years %>
  <footer id="local-footer" class="footer-links">
    <div class="export-link-with-form">
      <%= link_to(icon_tag("download") << " Download Transactions as CSV", "#",
            onclick: "$(this).closest('.export-link-with-form')
              .find('form').css({display: 'inline-block'}); return false;") %>
      &nbsp;
      <%= form_tag(account_transactions_path(account, format: :csv), method: :get) do %>
        <%= select_tag(:year, options_for_select([["Select Year", nil]].concat(@txn_years)),
              onchange: "this.form.submit()") %>
      <% end %>
    </div>
  </div>
<% end %>
