<% content_for(:title, "Account: #{account.household_name}") %>
<% content_for(:action_links, account.action_links) %>
<%= render("details", footnotes: false) %>

<footer id="local-footer" class="footer-links">
  <%= render("transaction_export_form", path: account_transactions_path(account, format: :csv)) %>
</div>
