<tr>
  <td>Unit</td>
  <td><%= household.unit_num.nil? ? "[None]" : "##{household.unit_num}" %></td>
</tr>
<% if multi_community? %>
  <tr>
    <td>Community</td>
    <td><%= household.community_name %></td>
  </tr>
<% end %>
