<div class="row">
  <div class="col-sm-4">
    <%= f.input :make %>
  </div>
  <div class="col-sm-4">
    <%= f.input :model %>
  </div>
  <div class="col-sm-4">
    <%= f.input :color %>
  </div>
</div>
