<% content_for(:title) { multi_community? ? "Your #{@community.name} Account" : "Your Account" } %>

<% if @accounts.empty? %>
  There are not yet any charges associated with your household.
<% else %>
  <% if multi_community? %>
    <p class="subtitle">
      <%= t(".intro", count: @accounts.size) %>
    </p>
  <% end %>
  <%= render("accounts/details", footnotes: true) %>
<% end %>
