<% content_for(:title){ "Household: #{@household.display_name}" } %>

<% content_for(:top_buttons) do %>
  <% if policy(@household).edit? %>
    <%= link_to(icon_tag("pencil") << " Edit Household",
      edit_household_path(@household), class: "btn btn-primary") %>
  <% end %>
<% end %>

<ul>
  <li>Members: <%= @household.users.none? ? "[None]" :
    @household.users.map{ |u| user_link(u) }.reduce(&sep(", ")) %></li>
  <li>Community: <%= @household.community_name %></li>
  <li>Unit Number: <%= @household.unit_num %></li>
</ul>