<% content_for(:title, "#{@community.name} File Reorganization") %>

<div class="simple">
  <h2>Introduction</h2>
  <%= render("what_is_this") %>
  <%= link_to("Yes, I am ready to help!", "#", class: "btn btn-primary") %>
</div>
