<% content_for(:title, "#{@community.name} File Reorganization") %>

<div class="simple">
  <h2>Step 2: Select Files</h2>
  <p>Select the files you want to transfer.</p>
  <p>
    The easiest way to do this is to:
    <ol>
      <li>Click the first file in the list.</li>
      <li>Go to the end of the list.</li>
      <li><strong>Hold the SHIFT key</strong> and click the last file in the list.</li>
    </ol>
  </p>
  <p>
    You should then see something like this:
  </p>
  <p>
    <%= image_tag("gdrive/migration/request/step2-1.png", class: "screenshot") %>
  </p>
  <p class="wizard-buttons">
    <%= link_to("< Previous", gdrive_migration_request_step1_path, class: "btn btn-default") %>
    <%= link_to("Next >", gdrive_migration_request_step3_path, class: "btn btn-primary") %>
  </p>
  <h2 class="troubleshooting">Troubleshooting</h2>
  <h3>I can only select one file at a time</h3>
  <p>
    Make sure you follow the three steps above are <strong>holding</strong>
    the SHIFT key when clicking on the second file.
  </p>
  <p>
    Holding the SHIFT key when clicking indicates that you want to select ALL files
    in the list between the currently selected file and the file you are clicking.
  </p>
</div>
